{%extends 'inicio/inicio.html'%}

{%block title%} Contacto{%endblock%}


{%block contenido%}

<div class="p-5 contacto__container">
    <div class="contacto__container__flex">
        <div class="contacto__container__textos">
            <h1 class="display-4 fw-bold">Contactanos</h1>
            <p class="contacto__parrafo"><span>¡Gracias por elegir Blancos Valentina. ¡Esperamos poder ayudarte a hacer
                    de tu
                    hogar un
                    lugar aún más acogedor y hermoso!<br></span>
                Dirección: C. 29 entre 80 y 82, Centro, 97320
                Progreso, Yuc.
                Telefono: <a href="tel:9993921783"> (999) 392-1783</a><br>
                Correo Electrónico: <a href="mailto:idania_cyr24@hotmail.es">idania_cyr24@hotmail.es</a><br>
                Horario de Atención: Lunes a Sabado de 9:00am a 8:00pm <br>
            </p>
            <a href="https://wa.me/5219993947183">
                <button class="btn__contactar" type="button">Enviar WhatsApp</button>
            </a>

        </div>

        <figure class="imagen__contacto__container">
            <img src="../../static/imagenes/Ubicacion/Contacto.png" alt="" class="imagen__contacto">

        </figure>


    </div>
</div>

<!-- <figure class="contacto__parche__container">
    <img src="../../static/imagenes/parche.png" class="contacto__parche">
</figure> -->

{%endblock%}