{%extends 'inicio/inicio.html'%}

{%block title%} Contacto{%endblock%}


{%block contenido%}

<div class="p-5 contacto__container">
    <div class="contacto__container__flex">
        <div class="contacto__container__textos">
            <h1 class="display-4 fw-bold">Contactanos</h1>
            <p class="contacto__parrafo"><span>¡Gracias por elegir Blancos Valentina. ¡Esperamos poder ayudarte a hacer
                    de tu
                    hogar un
                    lugar aún más acogedor y hermoso!<br></span>
                Dirección: C. 29 entre 80 y 82, Centro, 97320
                Progreso, Yuc.
                Valentina <br>
                Teléfono: (999) 392-1783 <br>
                Correo Electrónico: idania_cyr24@hotmail.es <br>
                Horario de Atención: Lunes a Sabado de 9:00 am a 8:00 pm <br>
            </p>
            <button class="btn__contactar " type="button">Contactar</button>
        </div>

        <figure class="imagen__contacto__container">
            <img src="../../static/imagenes/Ubicacion/Contacto.png" alt="" class="imagen__contacto">
        </figure>


    </div>
</div>



{%endblock%}