{%extends 'inicio/inicio.html'%}

{%block title%} ubicacion{%endblock%}


{%block contenido%}

<div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-4 fw-bold">Contactanos</h1>
        <p class="col-md-8 fs-4">¡Nos encantaría saber de ti! 
            Dirección: Calle Principal #123, Colonia Centro, Ciudad
            Valentina
            Teléfono: (123) 456-7890
            Correo Electrónico: info@blancosvalentina.com
            Horario de Atención: Lunes a Viernes de 9:00 am a 6:00 pm
            Gracias por elegir Blancos Valentina. ¡Esperamos poder ayudarte a hacer de tu hogar un lugar aún más
            acogedor y
            hermoso!</p>
        <button class="btn btn-primary btn-lg" type="button">Contactar</button>
    </div>
</div>



{%endblock%}