{%extends 'inicio/inicio.html'%}

{%block title%} Porductos{%endblock%}

{%block contenido%}

<div id="carouselExample" class="carousel slide bg-black ">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="card__productos__flex">
                
                <div class="card producto__card d-inline-block border-light text-center">
                    <img src="/static/imagenes/productos/1.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card d-inline-block">
                    <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card d-inline-block">
                    <img src="/static/imagenes/productos/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">

            <div class="card producto__card d-inline-block ">
                <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">

            <div class="card producto__card d-inline-block">
                <img src="/static/imagenes/productos/3.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">

            <div class="card producto__card d-inline-block">
                <img src="/static/imagenes/productos/4.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div id="carouselExample2" class="carousel slide bg-black ">
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div class="card__productos__flex">
                
                <div class="card producto__card d-inline-block border-light text-center">
                    <img src="/static/imagenes/productos/1.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card d-inline-block">
                    <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card d-inline-block">
                    <img src="/static/imagenes/productos/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-title">MXN 200</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="carousel-item">

            <div class="card producto__card d-inline-block ">
                <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">

            <div class="card producto__card d-inline-block">
                <img src="/static/imagenes/productos/3.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">

            <div class="card producto__card d-inline-block">
                <img src="/static/imagenes/productos/4.jpg" class="card-img-top">
                <div class="card-body p-0">
                    <p class="card-text-title">Edredon de color azul.</p>
                    <p class="card-text-title">MXN 200</p>
                </div>
            </div>

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



{%endblock%}