{%extends 'inicio/inicio.html'%}

{%block title%} Porductos{%endblock%}

{%block contenido%}

<!-- <figure class=" contacto__flor__container contacto__flor4__container">
    <img src="../../static/imagenes/Ubicacion/flor4.webp" class="contacto__flor">
</figure> -->

<!-- <figure class=" contacto__banner__container ">
    <img src="../../static/imagenes/productos/banner.jpeg" class="contacto__banner">
</figure> -->



<div id="Edredon" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <h2 class="carrusel_titulo carrusel_titulo--hot">🔥 Lo más vendido 🔥</h2>

        <div class="carousel-item active" data-bs-interval="3400">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0">
                    <img src="/static/imagenes/productos/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/1 copy.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#Edredon" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#Edredon" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<div id="pantuflas" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-inner">
        <h2 class="carrusel_titulo">Pantuflas</h2>

        <div class="carousel-item active" data-bs-interval="4000">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0     ">
                    <img src="/static/imagenes/productos/pantuflas/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/pantuflas/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/pantuflas/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/pantuflas/4.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/pantuflas/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/pantuflas/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#pantuflas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#pantuflas" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<!--2-->

<div id="almohadas" class="carousel slide "  data-bs-ride="carousel" >
    <div class="carousel-inner">
        <h2 class="carrusel_titulo">Almohadas</h2>

        <div class="carousel-item active" data-bs-interval="4000">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0     ">
                    <img src="/static/imagenes/productos/almohadas/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/almohadas/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/almohadas/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/almohadas/4.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/almohadas/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/almohadas/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#almohadas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#almohadas" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>


<div id="cobertores" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-inner">
        <h2 class="carrusel_titulo">Cobertores</h2>

        <div class="carousel-item active" data-bs-interval="4000">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0     ">
                    <img src="/static/imagenes/productos/cobertores/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobertores/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobertores/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/cobertores/4.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobertores/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobertores/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#cobertores" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cobertores" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div id="sabanas" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-inner">
        <h2 class="carrusel_titulo">Sabanas</h2>

        <div class="carousel-item active" data-bs-interval="4000">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0     ">
                    <img src="/static/imagenes/productos/sabanas/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/sabanas/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/sabanas/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/sabanas/4.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/sabanas/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/sabanas/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#sabanas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#sabanas" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<div id="cobijas" class="carousel slide "  data-bs-ride="carousel">
    <div class="carousel-inner">
        <h2 class="carrusel_titulo">Cobijas</h2>

        <div class="carousel-item active" data-bs-interval="4000">
            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0     ">
                    <img src="/static/imagenes/productos/cobijas/1.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobijas/2.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobijas/3.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

        <div class="carousel-item">

            <div class="card__productos__flex">
                <div class="card producto__card text-center bg-transparent border-0    ">
                    <img src="/static/imagenes/productos/cobijas/4.jpg" class="card-img-top">
                    <div class="card-body p-1">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobijas/5.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>

                <div class="card producto__card text-center bg-transparent border-0  ">
                    <img src="/static/imagenes/productos/cobijas/6.jpg" class="card-img-top">
                    <div class="card-body p-0">
                        <p class="card-text-title">Edredon de color azul.</p>
                        <p class="card-text-price">MXN 200</p>
                    </div>
                </div>
            </div><!--fin flex-->
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#cobijas" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#cobertores" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>


{%endblock%}