{%extends 'inicio/inicio.html'%}

{%block title%} bicacion{%endblock%}


{%block contenido%}

<!-- <figure class="Ubicacion__Imagen__Contenedor">
    <a href="https://www.facebook.com/profile.php?id=100083317675584&sk=photos">

        <img  rel="preload" src="../../static/imagenes/Logo/Letra_blanca.png" class="Ubicacion__Imagen" alt="Imagen">
    </a>
</figure> -->
<figure class="Ubicacion__Imagen__Contenedor">
    <a href="https://www.facebook.com/profile.php?id=100083317675584&sk=photos">
        <img src="../../static/imagenes/Logo/Letra_blanca.png" class="Ubicacion__Imagen imagen-clara" alt="Imagen">
        <img src="../../static/imagenes/Logo/Letra negra.jpg" class="Ubicacion__Imagen imagen-oscura" alt="Imagen">
    </a>
</figure>



<!-- <h1 class="Ubicacion__Titulo">Encuentranos en:</h1> -->
<a href="https://maps.app.goo.gl/aZhYSuCFtu2JBPfdA" class="iframe__container">
    <img src="../../static/imagenes/Ubicacion/ubicacion.png" alt="" class="iframe__container__img">

</a>

<h1 class="Ubicacion__Titulo">Imágenes del local</h1>

<section class="Ubicacion__Galeria">
    <img src="../../static/imagenes/Ubicacion/Local1.jpg" alt="Local" class="Ubicacion__Galeria__Imagen ">
    <img src="../../static/imagenes/Ubicacion/Local2.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local3.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local4.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local5.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local6.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local7.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local8.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local9.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local10.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local11.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local12.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
</section>


<!--Decoradores-->
<!-- <figure class=" contacto__flor__container  contacto__flor1__container">
    <img src="../../static/imagenes/Ubicacion/flor1.png" class="contacto__flor">
</figure>

<figure class=" contacto__flor__container contacto__flor2__container">
    <img src="../../static/imagenes/Ubicacion/flor3.webp" class="contacto__flor">
</figure> -->

<figure class=" contacto__flor__container contacto__flor3__container">
    <img src="../../static/imagenes/Ubicacion/flor4.webp" class="contacto__flor">
</figure>

<figure class=" contacto__flor__container contacto__flor4__container">
    <img src="../../static/imagenes/Ubicacion/flor.webp" class="contacto__flor">
</figure>
<!-- 
<figure class=" contacto__flor__container contacto__flor5__container">
    <img src="../../static/imagenes/Ubicacion/flor5.webp" class="contacto__flor">
</figure> -->

</div>
{%endblock%}