{%extends 'inicio/inicio.html'%}

{%block title%} bicacion{%endblock%}


{%block contenido%}

<figure class="Ubicacion__Imagen__Contenedor">
    <a href="https://www.facebook.com/profile.php?id=100083317675584&sk=photos">

        <img src="../../static/imagenes/Logo/Letra_blanca.png" class="Ubicacion__Imagen" alt="Imagen">
    </a>
</figure>
<!-- <h1 class="Ubicacion__Titulo">Encuentranos en:</h1> -->
<a href="https://maps.app.goo.gl/aZhYSuCFtu2JBPfdA" class="iframe__container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.6814870229373!2d-89.66626592433222!3d21.28407198042987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f55c33e0c128755%3A0x490fd78fb23df4fb!2sBlancos%20y%20textiles%20valentina!5e0!3m2!1ses!2smx!4v1714716701162!5m2!1ses!2smx"
        style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</a>

<h1 class="Ubicacion__Titulo">Imágenes del local</h1>

<section class="Ubicacion__Galeria">
    <img src="../../static/imagenes/Ubicacion/Local1.jpg" alt="Local" class="Ubicacion__Galeria__Imagen ">
    <img src="../../static/imagenes/Ubicacion/Local2.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local3.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local4.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local5.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local6.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local7.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local8.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local9.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local10.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local11.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
    <img src="../../static/imagenes/Ubicacion/Local12.jpg" alt="Local" class="Ubicacion__Galeria__Imagen">
</section>


<!--Decoradores-->
<!-- <figure class=" contacto__flor__container  contacto__flor1__container">
    <img src="../../static/imagenes/Ubicacion/flor1.png" class="contacto__flor">
</figure>

<figure class=" contacto__flor__container contacto__flor2__container">
    <img src="../../static/imagenes/Ubicacion/flor3.webp" class="contacto__flor">
</figure> -->

<figure class=" contacto__flor__container contacto__flor3__container">
    <img src="../../static/imagenes/Ubicacion/flor4.webp" class="contacto__flor">
</figure>

<figure class=" contacto__flor__container contacto__flor4__container">
    <img src="../../static/imagenes/Ubicacion/flor.webp" class="contacto__flor">
</figure>

<figure class=" contacto__flor__container contacto__flor5__container">
    <img src="../../static/imagenes/Ubicacion/flor5.webp" class="contacto__flor">
</figure>

</div>
{%endblock%}