/*Nav Gestor*/


.container__principal {
    /*De todo el gestor*/
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
}

.container__nav__contenido {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

.navbar__foto__container {
    width: 7ch;
    margin: 10px auto;
}

.navbar__imagen {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar__hero {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #eff2f9;
    background-color: #0f1013;

}

.navbar__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 40px;
    margin-top: 40px;
    text-align: center;
    /* background-color: red; */
}

.navbar__hero ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar__hero ul li a {
    color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.item__nav:hover {
    color: rgb(38, 230, 176);

}

.nav__icon__flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    /* background-color: red; */
}

.nav__icon__flex i{ 
    color: #eff2f9;
}