* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container__perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.titulo__perfil{
    width: 37%;
    text-align: center;
    margin-bottom: 45px;
}

.flex__perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 31.5%;
    margin: 9px auto;
    border-bottom: 1.4px solid rgba(128, 128, 128, 0.165);
}

.user__perfil {
    font-size: 1.3rem;
    color: #827878;

}

.data__perfil {
    font-size: 1.3rem;
}

body.dark-mode .data__perfil {
    color: white !important;
}


.perfil__container__img{
    width: 95px;
    border-radius: 50%;
}

.perfil__img{
    width: 100%;
    height: 100%;
}

#generatePasswordBtn{ /*aaveces cambia*/
    opacity: 1;
    position: static;
    background-color: #f8f9fa;
    color: #000;
}


a[href="#perfi_lateral"] {
    color: rgba(12, 11, 11, 0.849);
    text-decoration:none;
}

a[href="#perfi_lateral"]:hover {
    color: rgba(74, 76, 70, 0.708);
}