* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-gris: #515051;
    --color-verde: #66d5aadb;
    --color-fondo: #dfdde3;

}

.container__principal {
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
}

.flex__principal {
    /* display: flex;
    background-color: yellow;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly; */
    width: 100vw;
    height: 100vh;

}

.hero__container {
    display: flex;
    /*arriba*/
    height: 100%;
    width: 100%;
    /* background-color: yellow; */
}

.navbar__hero {
    display: flex;
    flex-direction: column;
    background-color: #1d181c;
    width: 16%;
    height: 100%;
}

.navbar__hero ul {
    list-style-type: none;
}

.navbar__hero ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 30px;
}

.navbar__lista {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    color: #ffff;
    margin-top: 50px;
}

.resumen {
    /*fondo de resumen*/
    width: 80%;
    /* background-color: rgba(190, 18, 18, 0.847); */
    height: 100vh;
    background-color: var(--color-fondo);
}

.resumen__titulo{
    margin: 30px 0px 0px 30px;
}

.resumen__cards { /*contenedor de las tarjetas*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    /* background-color: yellow; */
}

.resumen__card__item {
    /*tarjetas*/
    width:20%;
    height: 150px;
    background-color: #f3f3f3;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px 5px  rgb(74, 73, 73); */
}



.resumen__card__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;

}

.resumen__card__titulo {
    font-size: 40px;
    color: #66d5aadb;
}

.resumen__card__paragraph {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.resumen__paragraph {
    font-size: 25px;
    color: var(--color-gris);
    margin: 0;
}

.resumen__card__icon {
    font-size: 20px;
    color: var(--color-gris);
}

/*banderas*/
 .resumen__card__item--bandera{
    width: 200px;
    height: 75px;
    border-radius: 5px;
 }

 .resumen__card__textos--modify{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
/*parte 2*/

.resumen__card__item2 {
    /*tarjetas*/
    width: 47%;
    min-height: 240px;
    padding: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px 5px  rgb(74, 73, 73); */
}

.resumen__card__items__vendidos{
    display: flex;
    gap: 2px;

}

.resumen__card__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;

}
.resumen__imagen__container{
}

.imagen{
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
}

.resumen__card__titulo2{
    margin: 5px 0 20px 25px;
}
