@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

/*Incio Pagina Cover*/
.Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #5060e3; */
}

.Inicio__Nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 9vh;
    padding: 17px 60px 10px;
    background-color: white;
    /* background-color: yellow; */
}

.Inicio__Nav__Logo {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.Inicio__Enlaces__Contenedor {
    display: flex;
    margin-left: 100px;
    justify-content: center;
    align-items: center;
    gap: 75px;
    /* background-color: #1c8d56; */
}

.Inicio__Enlace {
    text-align: center;
    text-decoration: none;
    color: #181818;
    /* background-color: red; */
}

.Inicio__Enlace:hover {
    color: #1c1e8d;
    border-bottom: 2px solid rgba(0, 0, 139, 0.61);
}

/*Pagina de Presentacion*/
.Inicio__Hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 85%;
    text-align: center;
    /* background-color: red; */
}

.Inicio__Contenedor__Parrafos {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding: 15px 100px;
    /* background-color: #5060e3; */
}

.Inicio__Hero__Imagen {
    width: 80px;
}

.Inicio__titulo {
    margin: 0 auto;
    font-family: 'Geist-Medium', Courier, monospace;
    font-size: 62px;
    line-height: 72px;
    text-align: center;
    width: 73%;
    /* background-color: yellow; */
}

.Inicio__descripcion {
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    font-size: 18.5px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 32px;
    width: 62%;
    /* background-color: #1c8d56; */
}

.Inicio_Botones__Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 30px;
    /* background-color: palegreen; */
}

.Inicio__Btn {
    width: 145px;
    border: none;
    padding: 11.3px 10px;
    border-radius: 7px;
    cursor: pointer;
    align-items: center;
    background-color: #181818;
    color: #f3f3f3;
    letter-spacing: 0.5px;
}

.Inicio__Btn--logo {
    width: 120px;
}

.Inicio__Btn--Blanco {
    background-color: #ffffff;
    color: #404040;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
}

/*Hover de btns*/
.Inicio__Btn:hover {
    background-color: #3c3a3c;
}

.Inicio__Btn--Blanco:hover {
    background-color: #e3dde35e;
}

.Inicio__Imagen__Container {
    margin-top: 37px;
    width: 103%;
    background-color: #1c8d56;
}

.Inicio__Imagen {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #5060e3;
}

.Inicio__Imagen {
    transition: transform 0.6s ease;
    /* Transición suave para la escala */
}

.Inicio__Imagen:hover {
    transform: scale(1.02);
    /* Escala a 1.02 al hacer hover */
}

/*Ubicacion del Inicio*/
.Ubicacion__Imagen__Contenedor {
    margin-top: 2vh;
    width: 240px;
}

.Ubicacion__Imagen {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100vw;
    height: 610px;
}

.Ubicacion__Titulo {
    font-size: 30px;
    margin: 40px;
}

/*Galeria*/
.Ubicacion__Galeria {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    /* background-color: red; */
}

.Ubicacion__Galeria__Imagen {
    width: 30%;
    height: 400px;
    object-fit: cover;
    transition: transform .45s;
}

.Ubicacion__Galeria__Imagen:hover {
    transform: scale(1.035);
}

#carrusel {
    width: 70vw;
    height: 600px;
    background-color: red;
    margin-top: 90px;
}

.carrusel_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Contacto*/
.contacto__container {
    background-color: rgba(237, 241, 244, 0.675);
    height: 100vh;
}

.contacto__container__flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 40px;
    /* background-color: yellow; */
}

.contacto__container__textos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.85;
    width: 52%;
    /* background-color: red; */
}

.contacto__parrafo {
    font-size: 21.5px;
}

span {
    font-weight: 500;
}

.btn__contactar {
    display: inline-block;
    padding: 10px;
    width: 32%;
    border: none;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.btn__contactar:hover {
    background-color: #1c1e8d;
}

.imagen__contacto__container {
    width: 31%;
    height: 520px;
}

.imagen__contacto {
    width: 120%;
    height: 120%;
    object-fit: cover;
}


/*Otros*/

.Audio__Btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    width: 58px;
    height: 58px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(27, 27, 28);
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modo__Oscuro {
    position: absolute;
    top: 45%;
    right: 0px;
    text-decoration: none;
    width: 60px;
    height: 47px;
    border-radius: 20px 0 0 20px;
    text-align: center;
    background-color: rgb(27, 27, 28);
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}

.video__container {
    width: 1150px;
}


.video {
    width: 100%;
    height: 100%;
}