.inventario {
    width: 85%;
    padding: 25px;
    /* background-color: red; */
}

.editar__botones {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.continaer__toaster {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.video-container{
    width: 85%;
}