@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
}

.h3-altura {
    height: 65vh;
    line-height: 65vh;
}


.navbar {
    height: 10vh;
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Raleway';
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(../static/imagenes/Apple-like\ Aesthetics\ -\ 1.png);
    background-position: center;
    background-size: cover;
    opacity: .5;
}

/*Seccion del Hero*/

.hero {
    min-height: 420px;
    text-align: center;
    background-color: #f5f6f7;


}

.hero__contenedor__textos {
    padding: 3rem;
    overflow: hidden;
    padding-bottom: 30px;
}

.hero__inferior {
    width: 60%;
    margin: 0 auto;
}

.hero__inferior__imagen {
    width: 100%;
    display: block;

}

.hero__imagen__desarrollador {
    width: 200px;
    border-radius: 50%;
    margin: 22px;
}

.hero__contenedor__textos h2 {
    margin-top: 10px;
    padding: 5px;
    font-size: 1.5rem;
    color: #615151;
}

.hero h1 {
    font-weight: bold;
}

li a {
    text-decoration: none;
}

.seccion__oscura {
    color: #f5f6f7;
    background-color: #1b1b32;
}


/*Sobre mi*/

.sobre__mi {
    height: 450px;
    padding: 20px;
}

.sobre__mi .contenedor {
    max-width: 650px;
    text-align: center;
}

.seccion__titulo {
    font-size: 2rem;
    padding: 15px 0px;
    font-family: 'Raleway';
}

.seccion__textos {
    font-size: 1.2rem;
}

/*Experiencia*/
.experiencia {
    height: 90vh;
    padding: 20vh 10px;
    /* border: 1px solid red; */
}

.experiencia .columna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: 1px solid #8080804d;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.seccion__clara {
    color: #1b1b32;
    background-color: #f5f6f7;
}

.experiencia__titulo {
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
}

.experiencia i {
    /*iconos*/
    display: inline-block;
    font-size: 35px;
    color: #7ade30;
    background-color: #0a0a23ef;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.badge {
    margin: 3px;
    text-transform: uppercase;
}

/* Proyectos */
.proyectos__recientes {
    padding: 40px;
    padding-bottom: 90px;
}

.seccion-titulo {
    font-weight: bold;
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.proyectos__recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease-in;
    /*desvanecer imagen*/
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.seccion__descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.2s ease;
    /*aparicion texto*/
}

.proyecto {
    position: relative;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.overlay .iconos-contenedor {
    display: flex;
    justify-content: center;
}

.overlay i {
    color: #1b1b32;
    font-size: 60px;
    margin: 10px;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

/*General*/
.texto-negro {
    color: #1b1b32;
}

.texto-blanco {

    color: #f5f6f7
}

/* Articulos */
.articulos {
    min-height: 500px;
    padding: 90px;
}

.card-header {
    font-weight: bold;
}


.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;

}

.btn {
    margin-top: 30px;
}

/*Carrusel*/
.testimonios {
    padding: 40px;
}

.carousel {
    max-width: 800px;
    margin-top: 20px;
}

.carousel-item {
    height: 500px;
}


.fondo__exitoso {
    position: relative;
    width: 100%;
    height: 100vh;
}

.container__textos__exitoso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: -100px;
    left: 0;
    bottom: 0;
    right: 0;
}

.exitoso__titulo {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 5rem;
}

.exitoso__parrafo {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 35px;

}

/*Adaptable Media querys*/

@media screen and (max-with:767px) {

    .navbar-brand {
        display: none;
    }

}

@media screen and (min-width:700px) {
    .hero__inferior__imagen {
        max-width: 700px;
    }
}