{%extends 'base.html'%}

{%block title%} Apartados{%endblock%}

{%block contenido%}
<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Apartados
            </li>
        </ol>
    </nav>


    <h1 class="inventario__titulo text-center">Clientes con apartos</h1>

    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal"
        data-bs-target="#apartarProducto" data-taskid="0">Apartar producto
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Nombres</th> <!--Columna Encabezados-->
                <th scope="col">Apellidos</th>
                <th scope="col">Abonado</th>
                <th scope="col">Pendiente</th>
                <th scope="col">Dias restantes</th>
                <th scope="col">Producto apartado</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in apartados %}
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }} {{ indice[3]}}</td>
                <td>{{ indice[5] }}</td>
                <td>{{ indice[6] }}</td>
                <td>{{ indice[7] }}</td>
                <td>{{ indice[14] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" id="editar_btn" class="btn btn-primary btn-sm btn__editar"
                            data-bs-toggle="modal" data-bs-target="#apartarProducto" data-bs-cliente="{{indice[0]}}"
                            data-bs-producto="{{indice[13]}}" data-bs-abonado="{{indice[5]}}"
                            data-bs-pendiente="{{indice[6]}}">Editar <i class="fas fa-edit "></i>
                        </button>

                        <!-- <form action="/eliminar_producto" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">Form oculto para el id  -->
                        <!-- </form> -->

                        <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar<i
                                class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</section>


<!-- Modal para Apartar prodcuto -->
<div class="modal fade" id="apartarProducto" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Apartar producto</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="apartar_producto" method="POST" action="{{ url_for('agregar_apartado')}}">
                    <div class="">
                        <label for="cliente">Cliente:</label>
                        <select class="form-select" id="cliente" name="cliente" required>
                            <!-- Opción por defecto -->
                            <option selected value="">Selecciona una opción</option>
                            {% for client in clientes %}
                            <option value="{{ client[0] }}">{{ client[1] }} {{ client[2] }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="">
                        <label for="producto">Producto a apartar:</label>
                        <select class="form-select" id="producto" name="producto" required>
                            <!-- Opción por defecto -->
                            <option selected value="">Selecciona una opción</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="id_apartado">Nº Apartado</label>
                        <input type="number" class="form-control" id="id_apartado" name="id_apartado" min="1" max="1000"
                            value="0" placeholder="Opcional" disabled required>
                    </div>
                    <div class="">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="100"
                            placeholder="2" required>
                    </div>
                    <div class="">
                        <label for="abono">Abono Incial</label>
                        <input type="number" class="form-control" id="abono" name="abono" min="0" max="2000"
                            placeholder="500" required>
                    </div>

                    <div class="text-center mt-2">
                        <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId) {
        document.getElementById('indice_id').value = productId;
    }
</script>

{%endblock%}