{%extends 'base.html'%}

{%block title%} Apartados{%endblock%}

{%block contenido%}
<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Apartados
            </li>
        </ol>
    </nav>


    <!-- Mostrar otros mensajes flash -->
    {% if abono_exitoso %}
    <div class="container mt-3">
        {% for message in abono_exitoso %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


    <h1 class="inventario__titulo text-center">Clientes con apartos</h1>

    <button type="button" class="btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#apartarProducto"
        data-taskid="0">Apartar producto
    </button>

    <!-- 
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#tablaCancelados">
        Ver Cancelados
    </button> -->

    <div class="dropdown " style="width: 100px; display: inline-block; margin-left: 77%; ">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Vistas
        </button>
        <ul class="dropdown-menu  dropdown-menu-start dropdown-menu-dark">
            <li>
                <h6 class="dropdown-header">Seleccione</h6>
            </li>
            <li>
                <a class="dropdown-item " data-bs-toggle="collapse" onclick="toggleCollapse('tablaPagados')"
                    href="#tablaPagados">Completados</a>
            </li>
            <li>
                <a class="dropdown-item " data-bs-toggle="collapse" onclick="toggleCollapse('tablaCancelados')"
                    href="#tablaCancelados">Cancelados</a>
            </li>
        </ul>
    </div>


    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle mt-3">
        <thead>
            <tr>
                <th scope="col">Nombres</th> <!--Columna Encabezados-->
                <th scope="col">Apellidos</th>
                <th scope="col">Abonado</th>
                <th scope="col">Pendiente</th>
                <th scope="col">Dias restantes</th>
                <th scope="col">Producto apartado</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in apartados %}
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }} {{ indice[3]}}</td>
                <td>{{ indice[5] }}</td>
                <td>{{ indice[6] }}</td>
                <td>{{ indice[7] }}</td>
                <td>{{ indice[14] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">

                        <button onclick="setProductId('{{ indice[4] }}', '{{ indice[6] }}')" data-bs-toggle="modal"
                            data-bs-target="#abonar" type="button" class="btn btn-dark btn__editar">Abonar
                        </button>

                        <!-- <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#abonar" type="button" id="delete__btn" class="btn btn-dark">Ver abonos <i
                                class="fas fa-trash-alt"></i>
                        </button> -->

                        <!--El que abre el modal-->
                        <button data-bs-toggle="modal" data-bs-target="#verAbonos" type="button" id="ver__btn"
                            class="d-none btn btn-dark">Ver abonos
                        </button>

                        <!--El que envia el formulario para ver abonos-->
                        <form action="/ver_abonos" method="POST" id="categoriaForm" onsubmit="setFormSubmitted()">
                            <input type="hidden" name="id_apartado" id="id_apartado" value="{{ indice[4] }}">
                            <button type="submit" class="btn btn-success"> Ver abonos <i
                                    class="bi bi-eye"></i></button>
                        </form>

                        <!--El que abre el modal al enviar el form-->
                        <script>
                            function setFormSubmitted() {
                                localStorage.setItem('formSubmitted', 'true');
                            }

                            document.addEventListener('DOMContentLoaded', function () {
                                if (localStorage.getItem('formSubmitted') === 'true') {
                                    setTimeout(function () {
                                        var verBtn = document.getElementById('ver__btn');
                                        verBtn.click();
                                        localStorage.removeItem('formSubmitted');
                                    }, 100);
                                }
                            });
                        </script>


                        <form action="/cancelar_apartado" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[4]}}">
                            <button type="submit" class="btn border-secondary cancelar">Cancelar</button>
                        </form>

                        <style>
                            .cancelar:hover {
                                background-color: rgba(233, 31, 31, 0.892);
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }
                        </style>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>



    <div class="collapse" id="tablaPagados">
        <h2 class="mt-4"> Completados</h2>

        <table class="table  table-hover table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombres</th> <!--Columna Encabezados-->
                    <th scope="col">Apellidos</th>
                    <th scope="col">Abono final</th>
                    <th scope="col">Deuda Inicial</th>
                    <th scope="col">Fecha Pagada</th>
                    <th scope="col">Producto Comprado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for indice in apartadosPagados %}
                <tr class="dobles_click" style="cursor: pointer;">
                    <td>{{ indice[1] }}</td>
                    <td>{{ indice[2] }} {{ indice[3]}}</td>
                    <td>{{ indice[5] }}</td>
                    <td>{{ indice[6] }}</td>
                    <td>{{ indice[10] }}</td>
                    <td>{{ indice[14] }}</td>
                    <!--Seccion de edicion (Editar/Eliminar)-->
                    <td style="width: 160px;">
                        <!--El que abre el modal-->
                        <button data-bs-toggle="modal" data-bs-target="#verAbonos" type="button" id="ver__btn"
                            class="d-none btn btn-dark">Ver
                            abonos
                        </button>

                        <!--El que envia el formulario para ver abonos-->
                        <form action="/ver_abonos" method="POST" id="categoriaForm" onsubmit="setFormSubmitted()">
                            <input type="hidden" name="id_apartado" id="id_apartado" value="{{ indice[4] }}">
                            <button type="submit" class="btn btn-secondary"> Ver abonos <i class="bi bi-eye"></i></button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="collapse" id="tablaCancelados">
        <h2 class="mt-5"> Cancelados</h2>

        <table class="table  table-hover table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombres</th> <!--Columna Encabezados-->
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha Cancelada</th>
                    <th scope="col">Producto Cancelado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for indice in apartadosCancelados %}
                <tr class="dobles_click" style="cursor: pointer;">
                    <td>{{ indice[1] }}</td>
                    <td>{{ indice[2] }} {{ indice[3]}}</td>
                    <td>{{ indice[5] }}</td>
                    <td>{{ indice[9] }}</td>
                    <!--Seccion de edicion (Editar/Eliminar)-->
                    <td style="width: 160px;">
                        <!--El que abre el modal-->
                        <button data-bs-toggle="modal" data-bs-target="#verAbonos" type="button" id="ver__btn"
                            class="d-none btn btn-dark">Ver
                            abonos
                        </button>

                        <!--El que envia el formulario para ver abonos-->
                        <form action="/ver_abonos" method="POST" id="categoriaForm" onsubmit="setFormSubmitted()">
                            <input type="hidden" name="id_apartado" id="id_apartado" value="{{ indice[4] }}">
                            <button type="submit" class="btn btn-dark"> Ver abonos <i class="bi bi-eye"></i></button>
                        </form>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div>






</section><!--Fin de la pagina-->


<!-- Modal para Apartar prodcuto -->
<div class="modal fade" id="apartarProducto" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Apartar producto</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="apartar_producto" method="POST" action="{{ url_for('agregar_apartado')}}">
                    <div class="">
                        <label for="cliente">Cliente:</label>
                        <select class="form-select" id="cliente" name="cliente" required>
                            <!-- Opción por defecto -->
                            <option selected value="">Selecciona una opción</option>
                            {% for client in clientes %}
                            <option value="{{ client[0] }}">{{ client[1] }} {{ client[2] }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="">
                        <label for="producto">Producto a apartar:</label>
                        <select class="form-select" id="producto" name="producto" required>
                            <!-- Opción por defecto -->
                            <option selected value="">Selecciona una opción</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <div class="">
                        <label for="id_apartado">Nº Apartado</label>
                        <input type="number" class="form-control" id="id_apartado" name="id_apartado" min="1" max="1000"
                            value="0" placeholder="Opcional" disabled required>
                    </div> -->
                    <div class="">
                        <label for="cantidad">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad" min="1" max="5"
                            placeholder="Max. 5" required>
                    </div>
                    <div class="">
                        <label for="abono">Abono Inicial</label>
                        <input type="number" class="form-control" id="abono" name="abono" min="0" max="3000"
                            placeholder="" required>
                    </div>

                    <div class="text-center mt-2">
                        <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<!-- Modal para ver abonos -->
<div class="modal fade" id="verAbonos" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                {% with abono_vista = get_flashed_messages(category_filter=["abono"]) %}
                {% if abono_vista %}
                <div class="container mt-3">
                    {% for abono in abono_vista %}
                    <div class="alert alert-success" role="alert">
                        Fecha: <strong>{{ abono['fecha'] }}</strong> <br>
                        Cantidad Abonada: <strong>${{ abono['cantidad'] }}</strong>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-info" role="alert">
                    No hay abonos para mostrar.
                </div>
                {% endif %}
                {% endwith %}
            </div>


        </div>
    </div>
</div>


<!-- Modal para Apartar abonar -->
<div class="modal fade modal-sm " id="abonar" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-1">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Abono de cliente</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body">
                <form id="apartar_producto" method="POST" action="{{ url_for('abonar_apartado')}}">
                    <div class="">
                        <label for="cantidad">Cantidad a abonar</label>
                        <input type="number" onpaste="return false;" class="form-control" id="cantidad_abono"
                            name="cantidad_abono" min="1" max="4000" required>
                    </div>
                    <input type="hidden" name="indice_id" id="indice_id" value="">
                    <!--Botones-->
                    <button type="button" class="btn btn-secondary mt-3 w-100"
                        onclick="completarAbono()">Completar</button>
                    <button type="submit" class="btn btn-dark mt-2 w-100 ">Abonar</button>


                </form>
            </div>

        </div>
    </div>
</div>

<!--Banner de alerta apartado proximo-->
{% if pocosDiasApartado %}
<div class="toast-container position-fixed bottom-0 end-0 p-4">
    {% for producto in pocosDiasApartado %}
    <div class="toast text-bg-warning" data-bs-theme="dark">
        <div class="toast-header">
            <strong class="me-auto">Alerta</strong>
            <small class="text-body-secondary">Justo ahora</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            <p>El cliente <strong>{{producto[0]}} {{producto[1]}}</strong> le quedan <strong>{{producto[2]}}</strong>
                dias antes de <u>cancelar su apartado</u> </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!--Activar toaster-->
<script src="../static/Js/activar_toast.js"></script>

<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId, cantidadPendiente) {
        console.log("Producto ID:", productId); // Log para depuración
        document.getElementById('indice_id').value = productId;
        document.getElementById('cantidad_abono').dataset.pendiente = cantidadPendiente; // Almacena el pendiente en un atributo de datos
    }

    function completarAbono() {
        const cantidadPendiente = document.getElementById('cantidad_abono').dataset.pendiente;
        document.getElementById('cantidad_abono').value = cantidadPendiente;
    }
</script>


<!--Para guardar las vistas-->
<script>
    // Function to toggle collapse state in localStorage
    function toggleCollapse(collapseId) {
        const state = localStorage.getItem(collapseId);
        if (state === "shown") {
            localStorage.setItem(collapseId, "hidden");
        } else {
            localStorage.setItem(collapseId, "shown");
        }
    }

    // Function to restore collapse state from localStorage
    function restoreCollapseState() {
        const collapses = ["tablaPagados", "tablaCancelados"];
        collapses.forEach(collapseId => {
            const state = localStorage.getItem(collapseId);
            const collapseElement = document.getElementById(collapseId);
            if (state === "shown") {
                collapseElement.classList.add("show");
            } else {
                collapseElement.classList.remove("show");
            }
        });
    }

    // Restore collapse state on page load
    document.addEventListener("DOMContentLoaded", restoreCollapseState);
</script>

{%endblock%}