{%extends 'base.html'%}

{%block title%} Caja{%endblock%}

{%block contenido%}
<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Caja
            </li>
        </ol>
    </nav>


    <h1 class="inventario__titulo text-center">Caja</h1>

    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#abrirModal"
        data-taskid="0">Agregar vendedor
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Nombre</th> <!--Columna Encabezados-->
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Existencias</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in caja %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>${{ indice[2] }}</td>
                <td>${{ indice[3] }}</td>
                <td>{{ indice[5] }}</td>
                <td>{{ indice[8] }}</td>
                <td>{{ indice[10] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" id="editar_btn" class="btn btn-primary btn-sm btn__editar"
                            data-bs-toggle="modal" data-bs-target="#abrirModal" data-bs-id="{{indice[0]}}"
                            data-bs-nombre="{{indice[1]}}" data-bs-compra="{{indice[2]}}" data-bs-venta="{{indice[3]}}"
                            data-bs-ganancia="{{indice[4]}}" data-bs-existencias="{{indice[5]}}"
                            data-bs-existencias-deseadas="{{indice[6]}}" data-bs-proveedor="{{indice[7]}}"
                            data-bs-categoria="{{indice[9]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>

                        <!-- <form action="/eliminar_producto" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">Form oculto para el id  -->
                        <!-- </form> -->

                        <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar<i
                                class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</section>


{%endblock%}