{%extends 'base.html'%}

{%block title%} Clientes{%endblock%}

{%block contenido%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Categorias
            </li>
        </ol>
    </nav>




    <h1 class="inventario__titulo text-center">Categorias</h1>

    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal"
        data-bs-target="#abrirModalCategoria" data-taskid="0">Agregar Categoria
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Categorias</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Edición</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in categorias %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[4] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" class="btn btn-primary btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModalCategoria" data-bs-id="{{indice[0]}}"
                            data-bs-nombre="{{indice[1]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>
                        <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar<i
                                class="fas fa-trash-alt"></i>
                        </button>


                        <!-- <form action="/ver_productos_categoria" method="POST" id="miFormulario">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">
                            <button type="submit" id="btnEnviar" class="btn btn-primary">Ver productos<i
                                    class="bi bi-eye"></i>
                            </button>
                        </form> -->
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<!-- Modal para crear/editar categoria -->
<div class="modal fade" id="abrirModalCategoria" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Categoria</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="enviarCategoria" method="POST" action="{{ url_for('agregar_categoria')}}">
                    <div class="">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" pattern="^[A-Za-z\s]+$" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar -->
<div class="modal fade" id="Eliminar" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Eliminar Producto</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <h3>¿Deseas eliminarlo?</h3>

            </div>
            <div class="modal-footer">
                <form action="/eliminar_categoria" method="POST" id="eliminarp">
                    <input type="hidden" name="indice_id" id="indice_id" value="">
                    <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar
                    </button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Salir
                </button>
            </div>
        </div>
    </div>
</div>

<!--Actualizar modal-->
<script>
    //< !--Codigo para obtner los datos del fomr segun si id(Editar)-- >
    const abrirModal = document.getElementById('abrirModalCategoria')
    if (abrirModal) {
        abrirModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            //Obtneer los datos del boton con los id
            const id = button.getAttribute('data-bs-id')
            const name = button.getAttribute('data-bs-nombre')

            // Seleccionar los id para actulizarlos en el modal
            const modalNombre = abrirModal.querySelector('#nombre')

            // Acutualizar el modal con los datos de los atributos.
            modalNombre.value = name

            //Titulo segun la funcion
            if (id) {
                abrirModal.querySelector('.modal-title').textContent = 'Editar Categoria';
                console.log(id)
                abrirModal.querySelector('#enviarCategoria').setAttribute('action', '{{ url_for("editar_categoria", id=0) }}'.replace('0', id));
                //Enviar a editar
            }
        })
    }
</script>

<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId) {
        document.getElementById('indice_id').value = productId;
    }
</script>





{%endblock%}