{%extends 'base.html'%}

{%block title%} Clientes{%endblock%}

{%block contenido%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Categorias
            </li>
        </ol>
    </nav>

    <!-- Mensajes Flash -->
    {% if agregar_categoria %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> La categoria fue agregada!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}

    <!-- {% if categoria_editada %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> La categoria fue editada!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %} -->

    {% if categoria_eliminada %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> La categoria fue eliminada!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}

    {% with categoria_editada = get_flashed_messages(category_filter=["categoria_editada"]) %}
    {% if categoria_editada %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> La categoria fue editada!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}




    <h1 class="inventario__titulo text-center">Categorias</h1>

    <button type="button" class="btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#abrirModalCategoria"
        data-taskid="0">Agregar Categoria
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categorias</th>
                <th scope="col">Productos en la categoria</th>
                <th scope="col" style="width: 290px;">Edición</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in categorias %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[0] }}</td>
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }}</td>

                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" class="d-none btn btn-primary btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModalCategoria" data-bs-id="{{indice[0]}}"
                            data-bs-nombre="{{indice[1]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>

                        <button onclick="setProductId('{{ indice[0] }}', '{{ indice[1] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar
                            <i class="fas fa-trash-alt"></i>
                        </button>

                        <!--El que abre el modal-->
                        <button data-bs-toggle="modal" data-bs-target="#verProductos" type="button" id="ver__btn"
                            class="d-none btn btn-secondary">Ver
                            productos<i class="fas fa-trash-alt"></i></button>

                        <!--El que envia el formulario para la consulta con el id-->
                        <form action="/categorias" method="POST" id="categoriaForm" onsubmit="setFormSubmitted()">
                            <input type="hidden" name="idcategoria" id="idcategoria" value="{{ indice[0] }}">
                            <button type="submit" id="enviarID" class="btn btn-dark"> Ver productos <i
                                    class="bi bi-eye"></i></button>
                        </form>

                        <!--El que abre el modal al enviar el form-->
                        <script>
                            function setFormSubmitted() {
                                localStorage.setItem('formSubmitted', 'true');
                            }

                            document.addEventListener('DOMContentLoaded', function () {
                                if (localStorage.getItem('formSubmitted') === 'true') {
                                    setTimeout(function () {
                                        var verBtn = document.getElementById('ver__btn');
                                        verBtn.click();
                                        localStorage.removeItem('formSubmitted');
                                    }, 100);
                                }
                            });
                        </script>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<!-- Modal para crear/editar categoria -->
<div class="modal fade" id="abrirModalCategoria" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Categoria</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="enviarCategoria" method="POST" action="{{ url_for('agregar_categoria')}}">
                    <div class="">
                        <label for="nombre">Nombre</label>
                        <input type="text" onpaste="return false;" class="form-control my-2" id="nombre" name="nombre"
                            pattern="^[A-Za-z\s]+$" minlength="3" maxlength="15" required>
                    </div>
                    <div class="text-center mt-3 ">
                        <button type="submit" class="btn btn-primary w-100">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para eliminar -->
<div class="modal fade" data-bs-backdrop="static" id="Eliminar" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Eliminar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <h3>¿Deseas eliminar la categoria <br><strong id="producto_nombre" class="mt-3"
                        style="display: inline-block;"></strong>?</h3>
            </div>
            <div class="modal-footer">
                <form action="/eliminar_categoria" method="POST" id="eliminarp">
                    <input type="hidden" name="indice_id" id="indice_id" value="">
                    <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ver prodcutos -->
<div class="modal fade " data-bs-backdrop="static" id="verProductos" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Productos</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <table class="table  table-hover table-striped align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Productos en la categoria</th>
                            <th scope="col">Existencias</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for indice in verProductos %}
                        <tr class="doble_click" style="cursor: pointer;">
                            <td>{{ 'No hay en la categoria' if indice[3] is none else indice[3]}}</td>
                            <td>{{ '-' if indice[4] is none else indice[4]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 
<script>
    // Función para enviar el formulario al abrir el modal
    $('#verProductos').on('shown.bs.modal', function () {
        document.getElementById('submitButton').click();
    });
</script> -->

<!--Actualizar modal-->
<script>
    //< !--Codigo para obtner los datos del fomr segun si id(Editar)-- >
    const abrirModal = document.getElementById('abrirModalCategoria')
    if (abrirModal) {
        abrirModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            //Obtneer los datos del boton con los id
            const id = button.getAttribute('data-bs-id')
            const name = button.getAttribute('data-bs-nombre')

            // Seleccionar los id para actulizarlos en el modal
            const modalNombre = abrirModal.querySelector('#nombre')

            // Acutualizar el modal con los datos de los atributos.
            modalNombre.value = name

            //Titulo segun la funcion
            if (id) {
                abrirModal.querySelector('.modal-title').textContent = 'Editar Categoria';
                console.log(id)
                abrirModal.querySelector('#enviarCategoria').setAttribute('action', '{{ url_for("editar_categoria", id=0) }}'.replace('0', id));
                //Enviar a editar
            }
        })
    }
</script>

<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId, productName) {
        //Elementos donde pondra los valores
        document.getElementById('indice_id').value = productId;
        document.getElementById('producto_nombre').textContent = productName;
    }

</script>





{%endblock%}