{%extends 'base.html'%}

{%block title%} Clientes{%endblock%}

{%block contenido%}

<section class="inventario">

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Clientes
            </li>
        </ol>
    </nav>


    <h1 class="inventario__titulo text-center">Clientes</h1>

    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#abrirModalCliente"
        data-taskid="0">Agregar un cliente
    </button>
    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal"
        data-bs-target="#agregarTelefono" data-taskid="0">Agregar telefono
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Nombre</th> <!--Columna Encabezados-->
                <th scope="col">Apellido P</th>
                <th scope="col">Apellido M</th>
                <th scope="col">Total adeudo</th>
                <th scope="col">Celular</th>
                <th scope="col">Apartados</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in clientes %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }}</td>
                <td>{{ indice[3] }}</td>
                <td>{{ indice[4] }}</td>
                <td>{{ indice[6] }}</td>
                <td>{{ indice[7] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td >
                    <div class="editar__botones">
                        <button type="button" class="btn btn-primary btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModalCliente" data-bs-id="{{indice[0]}}" data-bs-nombre="{{indice[1]}}"
                            data-bs-apellido_p="{{indice[2]}}" data-bs-apellido_m="{{indice[3]}}"
                            data-bs-telefono="{{indice[5]}}">Editar <i class=" fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>

                        <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar<i
                                class="fas fa-trash-alt"></i>
                        </button>

                        <!-- <form action=" /eliminar_cliente" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">
                            <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar<i
                                    class="fas fa-trash-alt"></i>
                            </button>
                        </form> -->
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>


<!-- Modal para crear/editar tarea -->
<div class="modal fade" id="abrirModalCliente" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Cliente</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="agregar_cliente" method="POST" action="{{ url_for('agregar_cliente')}}">
                    <!--Añadir producto-->
                    <div class="">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre"  pattern="^[A-Za-z\s]+$" required>
                    </div>
                    <div class="">
                        <label for="apellido_p">Apellido Paterno:</label>
                        <input type="text" class="form-control" id="apellido_p" name="apellido_p"   pattern="^[A-Za-z\s]+$" required>
                    </div>
                    <div class="">
                        <label for="apellido_m">Apellido Materno:</label>
                        <input type="text" class="form-control" id="apellido_m" name="apellido_m"  pattern="^[A-Za-z\s]+$" required>
                    </div>
                    <div class="">
                        <label for="telefono">Telefono:</label>
                        <select class="form-control" id="telefono" name="telefono" required>
                            <!-- Opción por defecto -->
                            <option value="">Selecciona una opción</option>
                            {% for telefono in Telefono %}
                            <option value="{{ telefono[0] }}">{{ telefono[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="text-center mt-2">
                        <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal telefono-->
<div class="modal fade" id="agregarTelefono" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar telefono</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="agregar_telefono_cliente" method="POST" action="{{ url_for('agregar_telefono_cliente')}}">
                    <!--Añadir producto o-->
                    <div class="">
                        <label for="telefono">Telefono:</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" minlength="10"
                            maxlength="10" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal para eliminar -->
<div class="modal fade" id="Eliminar" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Eliminar Producto</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <h3>¿Deseas eliminarlo?</h3>
            </div>
            <div class="modal-footer">
                <form action="/eliminar_cliente" method="POST" id="eliminarp">
                    <input type="" name="indice_id" id="indice_id" value="">
                    <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar
                    </button>
                </form>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Salir
                </button>
            </div>
        </div>
    </div>
</div>


<!-- <script src="../static/Js/ModalEditar.js"></script> -->
<script>
    //< !--Codigo para obtner los datos del fomr segun si id(Editar)-- >
    const abrirModalCliente = document.getElementById('abrirModalCliente')
    if (abrirModalCliente) {
        abrirModalCliente.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            //Obtneer los datos del boton con los id
            const id = button.getAttribute('data-bs-id')
            const name = button.getAttribute('data-bs-nombre')
            const apellido_p = button.getAttribute('data-bs-apellido_p')
            const apellido_m = button.getAttribute('data-bs-apellido_m')
            const telefono = button.getAttribute('data-bs-telefono')

            // Seleccionar los campos para actulizarlos en el modal
            const modalNombre = abrirModalCliente.querySelector('#nombre')
            const modalApellido_p = abrirModalCliente.querySelector('#apellido_p')
            const modalApellido_m = abrirModalCliente.querySelector('#apellido_m')
            const modalTelefono = abrirModalCliente.querySelector('#telefono')


            // Acutualizar el modal con los datos de los atributos.
            modalNombre.value = name
            modalApellido_p.value = apellido_p
            modalApellido_m.value = apellido_m
            modalTelefono.value = telefono

            //Titulo segun la funcion
            if (id) {
                abrirModalCliente.querySelector('.modal-title').textContent = 'Editar cliente';
                console.log(id)
                abrirModalCliente.querySelector('#agregar_cliente').setAttribute('action', '{{ url_for("editar_cliente", id=0) }}'.replace('0', id));
                //Enviar a editar
            } else {
                abrirModalCliente.querySelector('.modal-title').textContent = 'Agregar cliente';
            }
        })
    }
</script>


<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId) {
        document.getElementById('indice_id').value = productId;
    }
</script>




{%endblock%}