{%extends 'base.html'%}

{%block title%} Clientes{%endblock%}

{%block contenido%}

<section class="inventario">

    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Clientes
            </li>
        </ol>
    </nav>

    {% with cliente_agregado = get_flashed_messages(category_filter=["cliente_agregado"]) %}
    {% if cliente_agregado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Un cliente fue agregado con éxito!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with cliente_eliminado = get_flashed_messages(category_filter=["cliente_eliminado"]) %}
    {% if cliente_eliminado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Un cliente fue eliminado
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    
    {% with existing_cliente = get_flashed_messages(category_filter=["existing_cliente"]) %}
    {% if existing_cliente %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Ya existe un cliente con los mismos nombres y apellidos
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}



    {% with cliente_editado = get_flashed_messages(category_filter=["cliente_editado"]) %}
    {% if cliente_editado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El cliente fue editado :)
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    

    <h1 class="text-center mt-5">Clientes</h1>

    <button type="button" class="btn btn-dark my-2" data-bs-toggle="modal"
        data-bs-target="#abrirModalCliente" data-taskid="0">Agregar un Cliente
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle mt-3">
        <thead>
            <tr>
                <th scope="col">Nombre</th> <!--Columna Encabezados-->
                <th scope="col">Apellidos</th>
                <th scope="col"><a href="/apartados" style="text-decoration: none;">Deuda total</a></th>
                <th scope="col">Celular</th>
                <th scope="col"><a href="/apartados" style="text-decoration: none;">Apartados</a></th>
                <th scope="col" style="width: 140px;">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in clientes %}
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }} {{ indice[3] }}</td>
                <td>{{ '-' if indice[4] is none else indice[4]}}</td>
                <td>{{ '-' if indice[5] is none else indice[5] }}</td>
                <td>{{ indice[6] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" class="d-none btn btn-dark btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModalCliente" data-bs-id="{{indice[0]}}"
                            data-bs-nombre="{{indice[1]}}" data-bs-apellido_p="{{indice[2]}}"
                            data-bs-apellido_m="{{indice[3]}}" data-bs-telefono="{{indice[5]}}">Editar <i
                                class=" fas fa-edit "></i>
                        </button>

                        <button onclick="setProductId('{{ indice[0] }}', '{{ indice[1] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar <i
                                class="fas fa-trash-alt"></i>
                        </button>

                        <!-- <form action=" /eliminar_cliente" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">
                            <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar<i
                                    class="fas fa-trash-alt"></i>
                            </button>
                        </form> -->
                    </div>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</section>


<!-- Modal para crear/editar tarea -->
<div class="modal fade " data-bs-backdrop="static" id="abrirModalCliente" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered " style="width: 400px;">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Cliente</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="agregar_cliente" method="POST" action="{{ url_for('agregar_cliente')}}">
                    <!--Añadir producto-->
                    <div class="">
                        <label for="nombre">Nombre</label>
                        <input type="text" onpaste="return false;" class="form-control" id="nombre" name="nombre"
                            pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$" maxlength="20" required>
                    </div>
                    <div class="">
                        <label for="apellido_p">Apellido Paterno</label>
                        <input type="text" onpaste="return false;" class="form-control" id="apellido_p"
                            name="apellido_p" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$" maxlength="20" required>
                    </div>
                    <div class="">
                        <label for="apellido_m">Apellido Materno</label>
                        <input type="text" onpaste="return false;" class="form-control" id="apellido_m"
                            name="apellido_m" pattern="^[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$" maxlength="20" required>
                    </div>
                    <div class="">
                        <label for="telefono">Teléfono</label>
                        <input type="tel" class="form-control" onpaste="return false;" id="telefono" name="telefono"
                            minlength="10" maxlength="10" pattern="[0-9]{10}" placeholder="10 digitos" required>
                    </div>

                    <style>
                        .form-control{
                            margin-bottom: 10px;
                        }
                    </style>
                    <!-- <div class="">
                        <label for="telefono">Telefono:</label>
                        <select class="form-select" id="telefono" name="telefono" required>
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for telefono in Telefono %}
                            <option value="{{ telefono[0] }}">{{ telefono[1] }}</option>
                            {% endfor %}
                        </select>
                    </div> -->

                    <div class="text-center mt-2">
                        <button type="reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal telefono-->
<div class="modal fade" data-bs-backdrop="static" id="agregarTelefono" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Teléfono</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="agregar_telefono_cliente" class="needs-validation" novalidate method="POST"
                    action="{{ url_for('agregar_telefono_cliente')}}">
                    <!--Añadir producto o-->
                    <div class="">
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" class="form-control" onpaste="return false;" id="telefono" name="telefono"
                            minlength="10" maxlength="10" pattern="[0-9]{10}" placeholder="1234567890" required>
                        <div class="invalid-feedback">
                            Ingresa solo números.
                        </div>
                    </div>
                    <div class="text-center mt-2">
                        <button type="reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<!-- Modal para eliminar -->
<div class="modal fade" id="Eliminar" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Eliminar Cliente</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <h3>¿Deseas eliminar al cliente <br><strong id="cliente_nombre" class="mt-3" style="display: inline-block;"></strong>? </h3>

            </div>
            <div class="modal-footer">
                <form action="/eliminar_cliente" method="POST" id="eliminarp">
                    <input type="hidden" name="indice_id" id="indice_id" value="">
                    <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar
                    </button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir
                </button>
            </div>
        </div>
    </div>
</div>

<!-- <script src="../static/Js/validarform_boostrap.js"></script> -->

<!--Scrpits -->
<script>
    //< !--Codigo para obtner los datos del fomr segun si id(Editar)-- >
    const abrirModalCliente = document.getElementById('abrirModalCliente')
    if (abrirModalCliente) {
        abrirModalCliente.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            //Obtneer los datos del boton con los id
            const id = button.getAttribute('data-bs-id')
            const name = button.getAttribute('data-bs-nombre')
            const apellido_p = button.getAttribute('data-bs-apellido_p')
            const apellido_m = button.getAttribute('data-bs-apellido_m')
            const telefono = button.getAttribute('data-bs-telefono')

            // Seleccionar los campos para actulizarlos en el modal
            const modalNombre = abrirModalCliente.querySelector('#nombre')
            const modalApellido_p = abrirModalCliente.querySelector('#apellido_p')
            const modalApellido_m = abrirModalCliente.querySelector('#apellido_m')
            const modalTelefono = abrirModalCliente.querySelector('#telefono')


            // Acutualizar el modal con los datos de los atributos.
            modalNombre.value = name
            modalApellido_p.value = apellido_p
            modalApellido_m.value = apellido_m
            modalTelefono.value = telefono

            //Titulo segun la funcion
            if (id) {
                abrirModalCliente.querySelector('.modal-title').textContent = 'Editar cliente';
                console.log(id)
                abrirModalCliente.querySelector('#agregar_cliente').setAttribute('action', '{{ url_for("editar_cliente", id=0) }}'.replace('0', id));
                //Enviar a editar
            } else {
                abrirModalCliente.querySelector('.modal-title').textContent = 'Agregar cliente';
            }
        })
    }
</script>


<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId, clienteNombre) {
        document.getElementById('indice_id').value = productId;
        document.getElementById('cliente_nombre').textContent = clienteNombre;
    }
</script>




{%endblock%}