{%extends 'base.html'%}

{%block title%} Login{%endblock%}


{%block contenido%}
<section class="inventario">


    {% with perfil_editado = get_flashed_messages(category_filter=["perfil_editado"]) %}
    {% if perfil_editado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El perfil se actualizo correctamente
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}
    
    {% with error_email = get_flashed_messages(category_filter=["error_email"]) %}
    {% if error_email %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El correo electrónico debe terminar en '.com'
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}



    <div class="container__perfil">
        <h1 class="titulo__perfil">Editar Perfil</h1>
        <figure class="perfil__container__img">
            <img src="../static/imagenes/perfil/Defaultperfil.png" alt="imagen" class="perfil__img">
        </figure>
        <div class="flex__perfil">
            <h2 class="user__perfil">Usuario: </h2>
            <a data-bs-toggle="offcanvas" href="#perfi_lateral">
                <h2 class="data__perfil">{{login[1]}}</h2>
            </a>
        </div>
        <div class="flex__perfil">
            <h2 class="user__perfil">Correo: </h2>
            <a data-bs-toggle="offcanvas" href="#perfi_lateral">
                <h2 class="data__perfil">{{login[2]}} </h2>
            </a>
        </div>
        <div class="flex__perfil">
            <h2 class="user__perfil">Contraseña: </h2>
            <a data-bs-toggle="offcanvas" href="#perfi_lateral">
                <h2 class="data__perfil">{{login[3]}} </h2>
            </a>
        </div>
        <div class="flex__perfil">
            <h2 class="user__perfil">Fecha de registro:</h2>
            <h2 class="data__perfil">{{login[4]}} </h2>
        </div>

        <button type="submit" class="btn  bg-body-secondary bg-black m-2  " data-bs-toggle="offcanvas"
            href="#perfi_lateral">Editar</button>
    </div>




    <div class="offcanvas offcanvas-end" tabindex="-1" id="perfi_lateral">
        <div class=" offcanvas-header">
            <h4 class="offcanvas-title">Editar Perfil</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <form action="/editar_login" method="POST" autocomplete="off">
                <label for="username">Usuario</label>
                <input type="text" onpaste="return false;" class="login__input " id="username" name="nombre"
                    minlength="4" maxlength="20" pattern="[a-zA-Z1-9_]+" autocomplete="off" value="{{login[1]}}"
                    required>

                <label for="email">Correo Electrónico</label>
                <input type="email" onpaste="return false;" class="login__input" id="email" name="correo" maxlength="25"
                    autocomplete="off" required value="{{login[2]}}"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[cC][oO][mM]$" />


                <label for="password">Contraseña</label>
                <input type="password" class="singup__password login__input " id="password" name="contraseña"
                    minlength="3" maxlength="20" value="{{login[3]}}" required />
                <button type="button" class="btn border-light m-2  generatePasswordBtn generatePasswordBtn--edicion"
                    id="generatePasswordBtn">Generar</button>
                <script src="../../static/Js/generar_contraseña.js"></script>
               
                <!--Oculto-->
                <input type="hidden" class="form-control" name="indice_id" value="{{login[0]}}">


                <button type="submit" class="btn btn-light">Actualizar</button>
            </form>
        </div>
    </div>



</section>


{%endblock%}