{%extends 'base.html'%}

{%block title%} Envios{%endblock%}

{%block contenido%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Envios
            </li>
        </ol>
    </nav>



    {% with envio_editado = get_flashed_messages(category_filter=["envio_editado"]) %}
    {% if envio_editado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El envio fue editado con éxito!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with no_tiene_apartado = get_flashed_messages(category_filter=["no_tiene_apartado"]) %}
    {% if no_tiene_apartado %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El cliente no tiene un apartado, créalo antes
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with envio_creado = get_flashed_messages(category_filter=["envio_creado"]) %}
    {% if envio_creado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Se ha creado el envio
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with envio_cancelado = get_flashed_messages(category_filter=["envio_cancelado"]) %}
    {% if envio_cancelado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Se ha cancelado el envio
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    <h1 class="inventario__titulo text-center">Clientes con envios</h1>

    <!--Alerta de actualizados y eliminados-->
    <!-- {% if no_tiene_apartado %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El cliente no tiene un apartado!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %} -->


    <button type="button" class="btn_agregar btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#abrirModal"
        data-taskid="0">Agregar envio
    </button>

    <button type="button" class="btn_agregar btn btn-warning my-2" data-bs-toggle="offcanvas"
        data-bs-target="#proximosEnvios" data-taskid="0">Ver proximos
    </button>

    <div class="dropdown " style="width: 100px; display: inline-block; margin-left: 67%; ">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Vistas
        </button>
        <ul class="dropdown-menu  dropdown-menu-start dropdown-menu-dark">
            <li>
                <h6 class="dropdown-header">Seleccione</h6>
            </li>
            <li>
                <a class="dropdown-item " data-bs-toggle="collapse" onclick="toggleCollapse('tablaEnviados')"
                    href="#tablaEnviados">Enviados</a>
            </li>
            <li>
                <a class="dropdown-item " data-bs-toggle="collapse" onclick="toggleCollapse('tablaEntregados')"
                    href="#tablaEntregados">Pagados</a>
            </li>

            <li>
                <a class="dropdown-item " data-bs-toggle="collapse" onclick="toggleCollapse('tablaCancelados')"
                    href="#tablaCancelados">Cancelados</a>
            </li>
        </ul>
    </div>




    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle mt-4">
        <thead>
            <tr>
                <th scope="col" style="width: 180px;">Nombres</th> <!--Columna Encabezados-->
                <th scope="col">Apellidos</th>
                <th scope="col">Días restantes</th>
                <th scope="col">Destino</th>
                <th scope="col">Producto a enviar</th>
                <th scope="col">Ediciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in envios %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>{{ indice[2] }} {{ indice[19] }}</td>
                <td> {{ indice[7] }}
                </td> <!--derivar en bd-->
                <td>{{ indice[15] }}</td>
                <td>{{ indice[17] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td style="width: 210px;">
                    <div class="editar__botones">
                        <!--oculto-->
                        <button type="button" class="d-none btn btn-primary btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModal" data-bs-id-envio="{{indice[3]}}"
                            data-bs-cliente="{{indice[0]}}" data-bs-producto="{{indice[16]}}"
                            data-bs-calle="{{indice[4]}}" data-bs-cruzamiento_1="{{indice[5]}}"
                            data-bs-cruzamiento_2="{{indice[6]}}" data-bs-destino="{{indice[11]}}"
                            data-bs-fecha="{{indice[18]}}" data-bs-status="{{indice[12]}}"
                            data-bs-colonia="{{indice[13]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>

                        <!--Toma el id del envio-->
                        <form action="/marcar_enviado" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[3]}}">
                            <button type="submit" class="btn btn-dark enviar">Enviar</button>
                        </form>

                        <form action="/marcar_cancelado" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[3]}}">
                            <button type="submit" class="btn  btn-danger cancelar">Cancelar</button>
                        </form>
                        <!-- <style>
                            .cancelar:hover {
                                background-color: rgba(233, 31, 31, 0.892);
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }

                            .enviar:hover {
                                background-color: rgba(27, 27, 27, 0.901);
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }

                            .entregar:hover {
                                background-color: rgba(27, 134, 62, 0.901);
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }
                        </style> -->

                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <br></br>
    <br>
    <div class="collapse" id="tablaEnviados">
        <h2 class="inventario__titulo text-center">Enviados</h2>
        <!--Tabla para los marcados en enviado-->
        <table class="table  table-hover table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombres</th> <!--Columna Encabezados-->
                    <th scope="col">Apellidos</th>
                    <!-- <th scope="col">Dias restantes</th> -->
                    <th scope="col">Destino</th>
                    <th scope="col">Producto enviado</th>
                    <th scope="col">Ediciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for indice in envios_enviados%}
                <tr class="doble_click" style="cursor: pointer;">
                    <td>{{ indice[1] }}</td>
                    <td>{{ indice[2] }} {{ indice[19]}}</td>
                    <!-- <td>{{ indice[7] }}</td> -->
                    <td>{{ indice[15] }}</td>
                    <td>{{ indice[17] }}</td>
                    <!--Seccion de edicion (Editar/Eliminar)-->
                    <td style="width: 210px;">
                        <div class="editar__botones">
                            <button type="button" class="btn btn-primary btn-sm d-none btn__editar"
                                data-bs-toggle="modal" data-bs-target="#abrirModal" data-bs-id-envio="{{indice[3]}}"
                                data-bs-cliente="{{indice[0]}}" data-bs-producto="{{indice[16]}}"
                                data-bs-calle="{{indice[4]}}" data-bs-cruzamiento_1="{{indice[5]}}"
                                data-bs-cruzamiento_2="{{indice[6]}}" data-bs-destino="{{indice[11]}}"
                                data-bs-fecha="{{indice[18]}}" data-bs-status="{{indice[12]}}"
                                data-bs-colonia="{{indice[13]}}">Editar <i class="fas fa-edit "></i>
                                <!--Cambia el orden del modal js-->
                            </button>

                            <form action="/regresar_envio" method="POST" id="eliminarp">
                                <input type="hidden" name="indice_id" value="{{indice[3]}}">
                                <button type="submit" class="btn  btn-dark enviar">Regresar</button>
                            </form>

                            <form action="/marcar_entregado" method="POST" id="eliminarp">
                                <input type="hidden" name="indice_id" value="{{indice[3]}}">
                                <button type="submit" class="btn  btn-success entregar">Recibido</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



    <br>
    <br>
    <br>
    <br>
    <div class="collapse" id="tablaEntregados">
        <h2 class="inventario__titulo text-center">Entregados</h2>
        <!--Tabla para los marcados en entregados-->
        <table class="table  table-hover table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombres</th> <!--Columna Encabezados-->
                    <th scope="col">Apellidos</th>
                    <th scope="col">Fecha de entregado</th>
                    <th scope="col">Destino</th>
                    <th scope="col" style="width: 280px;">Producto Recibido</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for indice in envios_entregados%}
                <tr class="doble_click" style="cursor: pointer;">
                    <td>{{ indice[1] }}</td>
                    <td>{{ indice[2] }} {{ indice[19]}}</td>
                    <td>{{ indice[14] }}</td>
                    <td>{{ indice[15] }}</td>
                    <td>{{ indice[17] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <br>
    <br>
    <br>
    <br>
    <div class="collapse" id="tablaCancelados">
        <h2 class="inventario__titulo text-center">Cancelados</h2>
        <!--Tabla para los marcados en entregados-->
        <table class="table  table-hover table-striped align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Nombres</th> <!--Columna Encabezados-->
                    <th scope="col">Apellidos</th>
                    <th scope="col">Destino</th>
                    <th scope="col" style="width: 280px;">Producto cancelado</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for indice in envios_cancelados%} <!--Nombre cualquiera + el que recibe de la variable-->
                <tr class="doble_click" style="cursor: pointer;">
                    <td>{{ indice[1] }}</td>
                    <td>{{ indice[2] }} {{ indice[19]}}</td>
                    <td>{{ indice[15] }}</td>
                    <td>{{ indice[17] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




</section>

<!-- Modal para crear/editar envio -->
<div class="modal fade" id="abrirModal" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered " style="width: 470px;">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h4 class="modal-title">Agregar Envio</h4> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="agregar_envio" method="POST" action="{{ url_for('agregar_envio')}}">
                    <div class="">
                        <label for="cliente">Cliente:</label>
                        <select class="form-select " id="cliente" name="cliente" required>
                            <!-- Opción por defecto -->
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for client in clientes %}
                            <option value="{{ client[0] }}">{{ client[1] }} {{ client[2] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!--agregado-->
                    <div class="">
                        <label for="producto">Prodcuto:</label>
                        <select class="form-select" id="producto" name="producto" required>
                            <!-- Opción por defecto -->
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="calle">Calle</label>
                        <input type="number" onpaste="return false;" class="form-control" id="calle" name="calle"
                            min="0" max="1000" placeholder="" required>
                    </div>
                    <div class="">
                        <label for="cruzamiento_1">Cruzamiento 1</label>
                        <input type="number" onpaste="return false;" class="form-control" id="cruzamiento_1"
                            name="cruzamiento_1" min="0" max="1000" placeholder="" required>
                    </div>
                    <div class="">
                        <label for="cruzamiento_2">Cruzamiento 2</label>
                        <input type="number" onpaste="return false;" class="form-control" id="cruzamiento_2"
                            name="cruzamiento_2" min="0" max="1000" placeholder="" required>
                    </div>
                    <div class="">
                        <label for="fecha">Fecha:</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                    </div>
                    <div class="">
                        <label for="destino">Destino:</label>
                        <select class="form-select" id="destino" name="destino" required>
                            <!-- Opción por defecto -->
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for destin in destino %}
                            <option value="{{ destin[0] }}">{{ destin[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="colonia">Colonia:</label>
                        <select class="form-select" id="colonia" name="colonia" required>
                            <option value="">Selecciona una opción</option>
                            {% for colonia in colonia %}
                            <option value="{{colonia[0]}}">{{ colonia[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- <script src="../static/Js/validar_forms_envios.js"></script> -->

                    <div class="text-center mt-2">
                        <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                <style>
                    .form-select, .form-control{
                        margin-bottom: 5px;
                    }

                </style>
            </div>

        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="proximosEnvios"  style="z-index: 2000;">
    <div class=" offcanvas-header">
        <h5 class="offcanvas-title mt-3 ms-3" style="font-size: 30px;">Próximos envíos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body p-4">
        <!--cards-->
        {% for indice in proximosEnvios %}

        <div class="card" {% if indice[3] < 0 %}
            style="width:100%; margin-bottom:25px; border: 2px solid rgba(74, 74, 74, 0.471); background-color:#f6c344;">
            {% else %}
            style="width:100%; margin-bottom:25px; border: 2px solid rgba(74, 74, 74, 0.471); background-color:rgba(127,
            255, 212, 0.72);">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title" style="font-weight: 600;">{{indice[1]}} {{indice[2]}} </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">#{{indice[6]}}</h6>
                <p class="card-text">Producto: <strong>{{indice[5]}}</strong></p>
                <p class="card-text">Destino: <strong>{{indice[4]}}</strong></p>
                <p class="card-text">Fecha de entrega:
                    <strong>
                        {% if indice[3] == 0 %}
                        Se entrega Hoy
                        {% elif indice[3] < 0 %} Está atrasado por {{ -indice[3] }} días {% else %} En {{ indice[3] }}
                            días {% endif %} </strong>
                </p>
            </div>
        </div>
        {%endfor%}
    </div>
</div>


<script>
    const abrirModal = document.getElementById('abrirModal') //obtiene que modal 
    if (abrirModal) {
        abrirModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            //Obtneer los valores 
            const id = button.getAttribute('data-bs-id-envio')
            console.log("id envio:", id)

            const cliente = button.getAttribute('data-bs-cliente')
            const producto = button.getAttribute('data-bs-producto')
            const calle = button.getAttribute('data-bs-calle')
            const cruzamiento_1 = button.getAttribute('data-bs-cruzamiento_1')
            const cruzamiento_2 = button.getAttribute('data-bs-cruzamiento_2')
            const fecha = button.getAttribute('data-bs-fecha')
            const destino = button.getAttribute('data-bs-destino')
            const colonia = button.getAttribute('data-bs-colonia')
            console.log("id colonia:", colonia)


            // Seleccionar los campos del formulario
            const modalCliente = abrirModal.querySelector('#cliente')
            const modalProducto = abrirModal.querySelector('#producto')
            const modalCalle = abrirModal.querySelector('#calle')
            const modalCruzamiento_1 = abrirModal.querySelector('#cruzamiento_1')
            const modalCruzamiento_2 = abrirModal.querySelector('#cruzamiento_2')
            const modalFecha = abrirModal.querySelector('#fecha')
            const modalDestino = abrirModal.querySelector('#destino')
            const modalColonia = abrirModal.querySelector('#colonia')
            console.log("el modal es", modalColonia)


            // Acutualizar el formulario con los valores.
            modalCliente.value = cliente
            modalProducto.value = producto
            modalCalle.value = calle
            modalCruzamiento_1.value = cruzamiento_1
            modalCruzamiento_2.value = cruzamiento_2
            modalFecha.value = fecha
            modalDestino.value = destino
            modalColonia.value = colonia
            console.log("el mvalor mostrado  es", modalColonia.value)


            //Titulo segun la funcion
            if (id) {
                // Solo editar los datos de envio 
                const clienteSelect = abrirModal.querySelector('#cliente');
                clienteSelect.disabled = true;

                abrirModal.querySelector('.modal-title').textContent = 'Editar envio';
                console.log("id edicion: ", id)
                abrirModal.querySelector('#agregar_envio').setAttribute('action', '{{ url_for("editar_envio", id=0) }}'.replace('0', id));
                //Enviar a editar

            } else {
                abrirModal.querySelector('.modal-title').textContent = 'Agregar envio';
                const clienteSelect = abrirModal.querySelector('#cliente');
                clienteSelect.disabled = false;
            }
        })
    }
</script>


<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId) {
        document.getElementById('indice_id').value = productId;
    }
</script>

<!--Para guardar las vistas-->
<script>
    // Function to toggle collapse state in localStorage
    function toggleCollapse(collapseId) {
        const state = localStorage.getItem(collapseId);
        if (state === "shown") {
            localStorage.setItem(collapseId, "hidden");
        } else {
            localStorage.setItem(collapseId, "shown");
        }
    }

    // Function to restore collapse state from localStorage
    function restoreCollapseState() {
        const collapses = ["tablaEnviados", "tablaEntregados", "tablaCancelados"];
        collapses.forEach(collapseId => {
            const state = localStorage.getItem(collapseId);
            const collapseElement = document.getElementById(collapseId);
            if (state === "shown") {
                const bsCollapse = new bootstrap.Collapse(collapseElement, {
                    show: true
                });
            }
        });
    }

    // Restore collapse state on page load
    document.addEventListener("DOMContentLoaded", restoreCollapseState);
</script>

<!--Banner de alerta envios proximos-->
{% if pocos_dias %}
<div class="toast-container position-fixed bottom-0 end-0 p-4">
    {% for producto in pocos_dias %}

    {% if producto[0] < 0 %} <div class="toast text-bg-danger"> <!--Cambiar color del toast-->
        {% else %}
        <div class="toast text-bg-warning">
            {% endif %}
            <div class="toast-header">
                {% if producto[0] < 0 %} <strong class="me-auto">Envios atrasados</strong>
                    {% else %}
                    <strong class="me-auto">Envios próximos</strong>
                    {% endif %}
                    <small class="text-body-secondary">Justo ahora</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            {% if producto[0] < 0 %} <div class="toast-body ">
                Hay un envio con ({{ producto[0] }} días) atrasado
        </div>
        {% else %}
        <div class="toast-body">
            Hay un envio con ({{ producto[0] }} días) para su envio
        </div>
        {% endif %}
</div>
{% endfor %}

<script>
    // Selecciona todos los elementos con la clase 'toast-body'
    var elements = document.querySelectorAll('.toast-body');

    // Itera sobre cada elemento seleccionado
    elements.forEach(function (element) {
        // Obtiene el contenido del elemento y elimina el guion
        element.textContent = element.textContent.replace('-', '');
    });

</script>

</div>
<!--Pocas existencias-->
<script src="../static/Js/activar_toast.js"></script>
{% endif %}

{%endblock %}