<!--modal que muestra galeria-->
<div class="modal" tabindex="-1" id="modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-body">

                <div id="Edredon" class="carousel slide  w-100 h-100">
                    <div class="carousel-inner">
                        <h2 class="carrusel_titulo carrusel_titulo--hot">🔥 Lo más vendido 🔥</h2>

                        <div class="carousel-item active">
                            <div class="card producto__card text-center bg-transparent border-0     ">
                                <img src="/static/imagenes/productos/1.jpg" class="card-img-top">
                                <div class="card-body p-1">
                                    <p class="card-text-title">Edredon de color azul.</p>
                                    <p class="card-text-price">MXN 200</p>
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <div class="card producto__card text-center bg-transparent border-0  ">
                                <img src="/static/imagenes/productos/2.jpg" class="card-img-top">
                                <div class="card-body p-0">
                                    <p class="card-text-title">Edredon de color azul.</p>
                                    <p class="card-text-price">MXN 200</p>
                                </div>
                            </div>
                        </div>



                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#Edredon" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#Edredon" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>

            </div>

        </div>
    </div>
</div>