{%extends 'base.html'%}

{%block title%} Login{%endblock%}


{%block index%}
<section class="resumen">

    <h1 class="resumen__titulo">Actividad</h1>

    <div class="resumen__cards">

        <div class="resumen__card__item">
            <div class="resumen__card__textos">
                <h3 class="resumen__card__titulo">800</h3>
                <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">Vendido</p>
                </div>
            </div>
        </div>
        <div class="resumen__card__item">
            <div class="resumen__card__textos">
                <h3 class="resumen__card__titulo">200</h3>
                <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">Ganancia</p>
                </div>
            </div>
        </div>

        <div class="resumen__card__item">
            <div class="resumen__card__textos">
                <h3 class="resumen__card__titulo">4</h3>
                <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">A enviar</p>
                </div>
            </div>
        </div>

        <div class="resumen__card__item">
            <div class="resumen__card__textos">
                <h3 class="resumen__card__titulo">2</h3>
                <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">Apartados</p>
                </div>
            </div>
        </div>

    </div>

    <h1 class="resumen__titulo">Resumen</h1>

    <div class="resumen__cards resumen__cards--2">

        <div class="resumen__card__item2 ">

            <h3 class="resumen__card__titulo2">3 mas vendidos</h3>

            <div class="resumen__card__items__vendidos">

                <div class="resumen__card__items">
                    <figure class="resumen__imagen__container">
                        <img src="https://images.unsplash.com/photo-1569411032431-07598b0012c2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNjE3NjF8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyNTI5MzZ8&ixlib=rb-4.0.3&q=80&w=1080"
                            alt="" class="imagen">
                    </figure>
                    <p class="resumen__paragraph2">Sabana</p>
                    <h3 class="resumen__card__pzas">2 pzas</h3>

                </div>

                <div class="resumen__card__items">
                    <figure>
                        <img src="https://images.unsplash.com/photo-1569411032431-07598b0012c2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNjE3NjF8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyNTI5MzZ8&ixlib=rb-4.0.3&q=80&w=1080"
                            alt="" class="imagen">
                    </figure>
                    <p class="resumen__paragraph2">Sabana</p>
                    <h3 class="resumen__card__pzas">2 pzas</h3>

                </div>


                <div class="resumen__card__items">
                    <figure>
                        <img src="https://images.unsplash.com/photo-1569411032431-07598b0012c2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wzNjE3NjF8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MTMyNTI5MzZ8&ixlib=rb-4.0.3&q=80&w=1080"
                            alt="" class="imagen">
                    </figure>
                    <p class="resumen__paragraph2">Sabana</p>
                    <h3 class="resumen__card__pzas">2 pzas</h3>
                    
                </div>


            </div>

        </div>

        <div class="resumen__card__item2">
            <div class="resumen__card__textos">
                <h3 class="resumen__card__titulo">2</h3>
                <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">Apartados</p>
                </div>
            </div>
        </div>
    </div>

</section>

{%endblock%}