{%extends 'base.html'%}

{%block title%} Login{%endblock%}

{%block inventario%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis" href="#">
                    <svg class="bi" width="16" height="16">
                        <use xlink:href="#house-door-fill"></use>
                    </svg>
                    <span class="visually-hidden">Home</span>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Library</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Data
            </li>
        </ol>
    </nav>


    <h1 class="inventario__titulo text-center">Inventario de productos</h1>

    <button type="button" class="btn_agregar btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#abrirModal"
        data-taskid="0">Agregar una Producto
    </button>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle">
        <thead>
            <tr>
                <th scope="col">Nombre</th> <!--Columna Encabezados-->
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Existencias</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in Productos %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr>
                <td>{{ indice[1] }}</td>
                <td>${{ indice[2] }}</td>
                <td>${{ indice[3] }}</td>
                <td>{{ indice[5] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" class="btn btn-primary btn-sm btn__editar" data-bs-toggle="modal"
                            data-bs-target="#abrirModal" data-bs-id="{{indice[0]}}" data-bs-nombre="{{indice[1]}}"
                            data-bs-venta="{{indice[3]}}" data-bs-compra="{{indice[2]}}"
                            data-bs-existencias="{{indice[5]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>
                        <form action="/delete_task" method="post" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}"><!--Form oculto para el id  -->
                            <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar<i
                                    class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<!--Modal eliminar-->
<div class="modal fade" id="Modal_eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog--modify">
        <div class="modal-content">

            <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
                <svg class="bi mt-5 mb-3" width="48" height="48">
                    <use xlink:href="#check2-circle"></use>
                </svg>
                <h1 class="text-body-emphasis">¡Inicio de sesión exitoso!</h1>
                <p class="col-lg-9 mx-auto mb-4">
                    Ahora serás redirigido al tablero principal, donde podrás acceder a todas las funciones
                    y características del gestor.
                </p>
                <a href="/tablero">
                    <button data-bs-dismiss="modal" id="confirmar" class="btn btn-primary px-5 mb-5" type="button">
                        Confirmar
                    </button>
                </a>
            </div>

        </div>
    </div>
</div>

<!-- Modal para crear/editar tarea -->
<div class="modal fade" id="abrirModal" tabindex="-1">

    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Agregar Producto</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="taskForm" method="post" action="{{ url_for('agregar_producto')}}"> <!--Añadir producto-->
                    <div class="">
                        <label for="nombre">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="">
                        <label for="precio_compra">Precio Compra:</label>
                        <input type="text" class="form-control" id="precio_compra" name="precio_compra" required>
                    </div>
                    <div class="">
                        <label for="precio_venta">Precio Venta:</label>
                        <input type="text" class="form-control" id="precio_venta" name="precio_venta" required>
                    </div>
                    <div class="">
                        <label for="ganancia">Ganancia:</label>
                        <input type="text" class="form-control" id="ganancia" name="ganancia" required>
                    </div>
                    <div class="">
                        <label for="existencias">Existencias:</label>
                        <input type="text" class="form-control" id="existencias" name="existencias" required>
                    </div>
                    <div class="">
                        <label for="existencias_deseadas">Existencias deseadas:</label>
                        <input type="text" class="form-control" id="existencias_deseadas" name="existencias_deseadas" >
                    </div>
                    <div class="">
                        <label for="proovedor">Proveedor:</label>
                        <input type="text" class="form-control" id="proveedor" name="proveedor" required>
                    </div>
                    <div class="">
                        <label for="categoria">Categoria:</label>
                        <input type="text" class="form-control" id="categoria" name="categoria" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="../static/Js/ModalEditar.js"></script>


{%endblock%}