{%extends 'base.html'%}

{%block title%} Inventario{%endblock%}

{%block contenido%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Productos
            </li>

        </ol>
    </nav>



    <!--Alerta de actualizados y eliminados-->
    <!-- {% if update %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Se actualizó un producto!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %} -->

    <!-- {% if eliminado %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Se eliminó un producto!
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %} -->

    {% with existing_producto = get_flashed_messages(category_filter=["existing_producto"]) %}
    {% if existing_producto %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El producto ya existe
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with producto_agregado = get_flashed_messages(category_filter=["producto_agregado"]) %}
    {% if producto_agregado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El producto se agrego correctamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with producto_editado = get_flashed_messages(category_filter=["producto_editado"]) %}
    {% if producto_editado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El producto se edito correctamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with producto_eliminado = get_flashed_messages(category_filter=["producto_eliminado"]) %}
    {% if producto_eliminado %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> El producto se elimino correctamente.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with producto_en_uso = get_flashed_messages(category_filter=["producto_en_uso"]) %}
    {% if producto_en_uso %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> No se puede eliminar el producto porque está siendo utilizado en la tabla de
        relaciones
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    {% with productos_reabastecidos = get_flashed_messages(category_filter=["productos_reabastecidos"]) %}
    {% if productos_reabastecidos %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> Felicidades :), productos reabastecidos.
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    <!-- {% with productos_noreabastecidos = get_flashed_messages(category_filter=["productos_noreabastecidos"]) %}
    {% if productos_noreabastecidos %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <i class="bi bi-x"></i> La cantidad es menor a lo existente
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %} -->

    {% with precioIncorrecto = get_flashed_messages(category_filter=["precioIncorrecto"]) %}
    {% if precioIncorrecto %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> No puedes agregar un producto con precio de venta menor al de compra
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}
    {% endwith %}

    <h1 class="inventario__titulo text-center mt-5 mb-4">Inventario de productos</h1>
    <div class="collapse" id="buscador">
        <input type="search" id="buscarInput" onkeyup="buscarClientes()" placeholder="Buscar clientes..."
            class="form-control">
    </div>

    <button type="button" class="btn btn-dark my-2 " data-bs-toggle="modal" data-bs-target="#abrirModal"
        data-taskid="0">Nuevo Producto
    </button>

    <button type="button" class="btn btn-secondary my-2" data-bs-toggle="modal" data-bs-target="#rellenarDeseados"
        data-taskid="0">Ver Faltantes
    </button>

    <button type="button" class="btn btn-warning my-2 " data-bs-toggle="offcanvas" data-bs-target="#Reabastecer2"
        data-taskid="0">Reabastecer
    </button>

    <button type="button" class="btn btn-primary my-2 " style="display: inline-block; margin-left: 50%; " data-bs-toggle="collapse" data-bs-target="#buscador"
        data-taskid="0"> <i class="bi bi-search"></i> Buscador
    </button>



    <!--Nueva tabla-->
    <table id="clientesTabla" class="table  table-hover table-striped align-middle mt-3">
        <thead>
            <tr>
                <th scope="col">Nombre</th> <!--Columna Encabezados-->
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Existencias</th>
                <th scope="col">Proveedor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in Productos %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[1] }}</td>
                <td>${{ indice[2] }}</td>
                <td>${{ indice[3] }}</td>
                <td>{{ indice[5] }}</td>
                <td>{{ indice[8] }}</td>
                <td>{{ indice[10] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td>
                    <div class="editar__botones">
                        <button type="button" id="editar_btn" class="d-none btn btn-dark btn-sm btn__editar"
                            data-bs-toggle="modal" data-bs-target="#abrirModal" data-bs-id="{{indice[0]}}"
                            data-bs-nombre="{{indice[1]}}" data-bs-compra="{{indice[2]}}" data-bs-venta="{{indice[3]}}"
                            data-bs-ganancia="{{indice[4]}}" data-bs-existencias="{{indice[5]}}"
                            data-bs-existencias-deseadas="{{indice[6]}}" data-bs-proveedor="{{indice[7]}}"
                            data-bs-categoria="{{indice[9]}}">Editar <i class="fas fa-edit "></i>
                            <!--Cambia el orden del modal js-->
                        </button>

                        <!-- <form action="/eliminar_producto" method="POST" id="eliminarp">
                            <input type="hidden" name="indice_id" value="{{indice[0]}}">Form oculto para el id  -->
                        <!-- </form> -->

                        <button onclick="setProductId('{{ indice[0] }}', '{{ indice[1] }}')" data-bs-toggle="modal"
                            data-bs-target="#Eliminar" type="button" id="delete__btn" class="btn btn-danger">Eliminar
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</section>

<!-- Modal para rellenar a deseados -->
<div class="modal fade" id="rellenarDeseados" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title"> (Existencias deseadas) </h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <table class="table  table-hover table-striped-columns align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th class="bg-warning">Faltantes</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for indice in rellenar_a_deseado %}
                        <tr class="doble_click" style="cursor: pointer;">
                            <td>{{ '-' if indice[1] is none else indice[1]}}</td>
                            <td class="bg-warning">
                                {% if indice[2] is not none and indice[2] < 0 %} Se excede por {{ -indice[2] }} <!--
                                    Quitar el negativo usando el signo menos -->
                                    {% elif indice[2] is none or indice[2] == "" %}
                                    No establecido
                                    {% else %}
                                    Faltan
                                    {{ indice[2] }}
                                    {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="Reabastecer2">
    <div class="offcanvas-body">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" style="font-size: 30px;">Reabastecimiento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <form id="taskForm" method="POST" action="{{ url_for('reabastecer') }}">
                <table class="table table-hover table-bordered table-striped-columns align-middle mt-3">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        {% for indice in Productos %}
                        <tr class="doble_click " style="cursor: pointer;">
                            <td>{{ indice[1] }}</td>
                            <td style="width: 160px;">
                                <input type="hidden" name="product_id" value="{{ indice[0] }}">
                                <input type="number" onpaste="return false;" class="form-control resurtir-cantidad"
                                    name="resurtirCantidad" min="0" max="500" value="{{indice[5]}}" required>
                            </td>
                        </tr>
                        {% endfor %}
                        <script src="../static/Js/validar_reabastecer.js"></script>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary my-2" style="width: 100%;">Enviar</button>
            </form>
        </div>
    </div>
</div>



<!--Banner de alerta producto bajo-->
{% if producto_escaso %}
<div class="toast-container position-fixed bottom-0 end-0 p-4">
    {% for producto in producto_escaso %}
    {% if producto[1] == 0%}
    <div class="toast text-bg-danger">
        {% else %}
        <div class="toast text-bg-warning">
            {% endif %}
            <div class="toast-header">
                <strong class="me-auto">Alerta</strong>
                <small class="text-body-secondary">just now</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                {% if producto[1] == 0%}
                El producto ({{ producto[0] }}) se agoto
                {% else %}
                El producto ({{ producto[0] }}) tiene {{producto[1]}} existencias
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>





    <!-- 
<div class="offcanvas offcanvas-end" data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="Reabastecer">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" style="font-size: 30px;">Reabastecimiento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <form id="taskForm" method="POST" action="{{ url_for('reabastecer') }}">
            <table class="table table-hover table-striped align-middle mt-3">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for indice in Productos %} 
                    <tr class="doble_click" style="cursor: pointer;">
                        <td>{{ indice[1] }}</td>
                        <td style="width: 160px;">
                            <input type="hidden" name="product_id" value="{{ indice[0] }}">
                            <input type="number" onpaste="return false;" class="form-control" name="resurtirCantidad" min="0" max="1000" value="{{indice[5]}}" required>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-secondary my-2">Enviar</button>
        </form>
    </div>
</div> -->


    <!--Pocas existencias-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toastElList = [].slice.call(document.querySelectorAll('.toast'));
            var toastList = toastElList.map(function (toastEl) {
                return new bootstrap.Toast(toastEl);
            });
            toastList.forEach(toast => toast.show());
        });
    </script>
    {% endif %}

    <!-- Modal para crear/editar tarea -->
    <div class="modal fade " id="abrirModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered " style="width: 475px;">
            <div class="modal-content">

                <div class="modal-header"><!--Header-->
                    <h4 class="modal-title m-auto">Agregar Producto</h4> <!--id-->
                    <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>

                <div class="modal-body"> <!--Formulario-->
                    <form id="taskForm" method="POST" action="{{ url_for('agregar_producto')}}"> <!--Añadir producto-->
                        <div class="">
                            <label for="nombre">Nombre</label>
                            <input data-bs-toggle="tooltip" data-bs-title="Ingresa solo letras y números sin espacios."
                                data-bs-custom-class="custom-tooltip" data-bs-placement="top" type="text"
                                class="form-control mb-2" id="nombre" name="nombre"
                                pattern="^(?!\s*$)[a-zA-ZáéíóúÁÉÍÓÚüÜ\s]+$" minlength="3" maxlength="25" required>
                        </div>
                        <div class="">
                            <label for="precio_compra">Precio Compra</label>
                            <input type="number" onpaste="return false;" class="form-control mb-2" id="precio_compra"
                                step="1" name="precio_compra" min="0" max="1000" required>
                        </div>
                        <div class="">
                            <label for="precio_venta">Precio Venta</label>
                            <input type="number" onpaste="return false;" class="form-control mb-2" id="precio_venta"
                                step="1" name="precio_venta" min="0" max="1000" required>
                        </div>
                        <div class="">
                            <label for="existencias" onpaste="return false;">Existencias</label>
                            <input type="number" class="form-control mb-2" id="existencias" name="existencias" min="0"
                                max="500" autocomplete="off" required>
                        </div>
                        <div class="">
                            <label for="existencias_deseadas" onpaste="return false;">Existencias deseadas</label>
                            <input type="number" class="form-control mb-2" id="existencias_deseadas"
                                name="existencias_deseadas" min="0" max="500" placeholder="Opcional" autocomplete="off">
                        </div>
                        <div class="">
                            <label for="proveedor">Proveedor:</label>
                            <select class="form-select mb-2" id="proveedor" name="proveedor" required>
                                <!-- Opción por defecto -->
                                <option selected disabled value="">Selecciona una opción</option>
                                {% for proveedor in Proveedor %}
                                <option value="{{ proveedor[0] }}">{{ proveedor[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="">
                            <label for="categoria">Categoria:</label>
                            <select class="form-select mb-3" id="categoria" name="categoria" required>
                                <option selected disabled value="">Selecciona una opción</option>
                                {% for Categorias in Categorias %}
                                <option value="{{ Categorias[0] }}">{{ Categorias[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <script src="../static/Js/validar_form.js"></script><!--Validar forms-->

                        <div class="text-center mt-2">
                            <button type="reset" id="btn_reset" class="btn btn-secondary">Resetear</button>
                            <button type="submit" class="btn btn-dark ">Guardar</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal para eliminar -->
    <div class="modal fade" id="Eliminar" tabindex="-1">

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header"><!--Header-->
                    <h5 class="modal-title">Eliminar Producto</h5> <!--id-->
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body"> <!--Formulario-->
                    <h3>¿Deseas eliminar el producto <br><strong id="producto_nombre" class="mt-3"
                            style="display: inline-block;"></strong>?</h3>

                </div>
                <div class="modal-footer">
                    <form action="/eliminar_producto" method="POST" id="eliminarp">
                        <input type="hidden" name="indice_id" id="indice_id" value="">
                        <button type="submit" id="delete__btn" class="btn btn-danger">Eliminar
                        </button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="../static/Js/ModalEditar.js"></script> -->
    <script>
        //< !--Codigo para obtner los datos del form segun si id(Editar)-- >
        const abrirModal = document.getElementById('abrirModal')
        if (abrirModal) {
            abrirModal.addEventListener('show.bs.modal', event => {
                // Button that triggered the modal
                const button = event.relatedTarget
                //Obtneer los datos del botones que tienen esos ID y los guarda
                const id = button.getAttribute('data-bs-id')
                const name = button.getAttribute('data-bs-nombre')
                const compra = button.getAttribute('data-bs-compra')
                const venta = button.getAttribute('data-bs-venta')
                // const ganancia = button.getAttribute('data-bs-ganancia')
                const existencias = button.getAttribute('data-bs-existencias')
                const existencias_deseadas = button.getAttribute('data-bs-existencias-deseadas')
                const proveedor = button.getAttribute('data-bs-proveedor')
                const categoria = button.getAttribute('data-bs-categoria')

                // Selecciona los formularios en donde se actualizaran los datos y los guarda
                const modalNombre = abrirModal.querySelector('#nombre')
                const modalCompra = abrirModal.querySelector('#precio_compra')
                const modalVenta = abrirModal.querySelector('#precio_venta')
                // const modalGanancia = abrirModal.querySelector('#ganancia')
                const modalExistencias = abrirModal.querySelector('#existencias')
                const modalExistencias_deseadas = abrirModal.querySelector('#existencias_deseadas')
                const modalProveedor = abrirModal.querySelector('#proveedor')
                const modalCategoria = abrirModal.querySelector('#categoria')

                // Acutualizar los campos con los datos de los atributos.
                modalNombre.value = name
                modalCompra.value = compra
                modalVenta.value = venta
                // modalGanancia.value = ganancia
                modalExistencias.value = existencias
                modalExistencias_deseadas.value = existencias_deseadas
                modalProveedor.value = proveedor
                modalCategoria.value = categoria

                //Titulo segun la funcion
                if (id) {
                    const clienteSelect = abrirModal.querySelector('#existencias');
                    clienteSelect.classList.add('select-disabled');  // Añadir clase para deshabilitar la i


                    abrirModal.querySelector('.modal-title').textContent = 'Editar Producto';
                    console.log(id)
                    abrirModal.querySelector('#taskForm').setAttribute('action', '{{ url_for("editar_producto", id=0) }}'.replace('0', id));
                    //Enviar a editar
                } else {
                    abrirModal.querySelector('.modal-title').textContent = 'Agregar Producto';
                    const clienteSelect = abrirModal.querySelector('#existencias');
                    clienteSelect.classList.remove('select-disabled');  // Quitar la clase para habilitar la interacción
                    2
                }
            })
        }
    </script>

    <style>
        .select-disabled {
            pointer-events: none;
            /* Evita que el usuario pueda interactuar con el select */
            background-color: #e9ecef;
            /* Cambia el color de fondo para que parezca deshabilitado */
            color: #6c757d;
            /* Cambia el color del texto para parecer deshabilitado */
        }
    </style>

    <!--Para obtener el id y mandarlo al modal-->
    <script>
        function setProductId(productId, productName) {
            document.getElementById('indice_id').value = productId;
            document.getElementById('producto_nombre').textContent = productName;
        }
    </script>




    {%endblock%}