{% extends 'iniciar_sesion.html' %}


{% block modal %}

{% if registration_login %}
    <button id="modal" type="button" class="btn__form d-none" data-bs-toggle="modal" data-bs-target="#inicio_sesion">
        <!--Abrir modal (toogle) y cual (target)-->
    </button>

    <script>
        // Simular clic en el botón automáticamente cuando la página se cargue
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('modal').click();
        });
    </script>

    <!-- Modal -->
    <div class="modal fade" id="inicio_sesion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <!--Evitar que se ciiere con esq y click y no enfocable-->
        <script>
            setTimeout(function () {
                window.location.href = "{{ url_for('tablero')}}";
            }, 6200);
        </script>

        <div class="modal-dialog modal-dialog--modify">
            <div class="modal-content">

                <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
                    <svg class="bi mt-5 mb-3" width="48" height="48">
                        <use xlink:href="#check2-circle"></use>
                    </svg>
                    <h1 class="text-body-emphasis">¡Inicio de sesión exitoso!</h1>
                    <p class="col-lg-9 mx-auto mb-4">
                        Ahora serás redirigido al tablero principal, donde podrás acceder a todas las funciones
                        y características de nuestro gestor.
                    </p>
                    <a href="/tablero">
                        <button data-bs-dismiss="modal" class="btn btn-primary px-5 mb-5" type="button">
                            Entrar
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
{% endif %}

{%endblock%}