{%extends 'base.html'%}


{% block title %}Sign Up{% endblock %}

{% block style%}
<style>
    .navbar {
        background-image: linear-gradient(to right, #000000, #000000, #c7af9d);
    }
</style>
{% endblock %}



{% block singup %}<section class="">

    <div class="container__singup">

        <div class="container__singup__flex">
            <!--imagen-->
            <div class="col-md-8 col-lg-7 col-xl-6 container__imagen__singup">
                <img src="../static/imagenes/Apple-like Aesthetics - 4.jpg" class="img-fluid imagen__signup"
                    alt="Register image">
            </div>

            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1  container__singup__titulos">
                <h1 class="fw-bold mb-3 singup__titulo">Registrate</h1>
                <form method="post" action="{{ url_for('registro') }}"> <!--Enviar a registro-->
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <label for="Username">Username</label>
                        <input type="Username" class="form-control {% if user_found %}is-invalid{% endif %} "
                            id="username" name="username" required />
                        {% if user_found %}
                        <div class="invalid-feedback">{{ error_message }}</div>
                        {% endif %}
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control {% if email_found %}is-invalid{% endif %} " id="email"
                            name="email" required />
                        {% if email_found %}
                        <div class="invalid-feedback">{{ error_message }}</div>
                        {% endif %}
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label for="password">Password</label>
                        <input type="password" class="singup__password form-control" id="password" name="password"
                            required />
                    </div>

                    <!-- Submit button -->
                    <button type="submit" id="enviar-registro" class="btn__form btn btn-primary btn-lg btn-block">Sign up</button>

                    <!-- divider -->
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 divisor">OR</p>
                    </div>

                    <!-- other methods -->
                    <div class="singup__metodos">
                        <a class="btn_facebook  btn btn-primary btn-lg btn-block" style="background-color: #3b5998"
                            href="#!" role="button">
                            <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                        </a>
                        <a class="btn_twitter btn btn-primary btn-lg btn-block" style="background-color: #55acee"
                            href="#!" role="button">
                            <i class="fab fa-twitter me-2"></i>Continue with Twitter</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<div class="informacion">
    <!-- <p class="informacion__mensaje">*Create your Specify account with your work email to sync 
    all your design data across your design system</p>  -->

    <a class="informacion__mensaje" href="/iniciar_sesion">¿Ya tienes una cuenta?</a>
</div>
{% endblock %}