{%extends 'base.html'%}

{%block title%} result{%endblock%}

{%block inventario%}
<!-- Modal para ver productos -->
<div class="modal fade" id="abrirModalVer" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Vista</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <table class="table  table-hover table-striped align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categorias</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for resultados in resultados %}
                        <tr>
                            <td>{{ resultados[1] }}</td>
                            <td>{{ resultados[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div><!--modal-->
        </div>
    </div>
</div>

<script>
    // Abrir el modal cuando la página se cargue
    window.onload = function () {
        var myModal = new bootstrap.Modal(document.getElementById('abrirModalVer'));
        myModal.show();
    };
</script>

{%endblock%}