{%extends 'base.html'%}

{%block title%} Login{%endblock%}


{%block contenido%}
<section class="resumen">

    <h1 class="resumen__titulo">Movimientos</h1>
    <div class="resumen__cards">

        <div class="resumen__card__item">
            <a href="/ventas" class="resumen__enlaces">

                <div class="resumen__card__textos">
                    <h3 class="resumen__card__titulo">{{ingresos_del_corte}}</h3>
                    <div class="resumen__card__paragraph">
                        <i class="bi bi-receipt resumen__card__icon"></i>
                        <p class="resumen__paragraph">Vendido</p>
                    </div>
                </div>
            </a>

        </div>

        <div class="resumen__card__item">
            <a href="/caja" class="resumen__enlaces">
                <div class="resumen__card__textos">
                    <h3 class="resumen__card__titulo">{{ganancias}}</h3>
                    <div class="resumen__card__paragraph">
                        <!-- <i class="bi bi-receipt "></i> -->
                        <i class="bi bi-cash-stack resumen__card__icon"></i>

                        <p class="resumen__paragraph">Ganancia</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="resumen__card__item">
            <a href="/envios" class="resumen__enlaces">
                <div class="resumen__card__textos">
                    <h3 class="resumen__card__titulo">{{envios}}</h3>
                    <div class="resumen__card__paragraph">
                        <i class="bi bi-truck resumen__card__icon"></i>
                        <p class="resumen__paragraph">Enviar</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="resumen__card__item">
            <a href="/apartados" class="resumen__enlaces">
                <div class="resumen__card__textos">
                    <h3 class="resumen__card__titulo">{{apartados}}</h3>
                    <div class="resumen__card__paragraph">
                        <i class="bi bi-calendar resumen__card__icon resumen__card__icon--modify"></i>
                        <p class="resumen__paragraph">Apartados</p>
                    </div>
                </div>
            </a>

        </div>

        <!--banderas-->
        <div class="container__banderas">
            <div class="resumen__card__item  resumen__card__item--bandera">
                <a href="/ventas" class="resumen__card__enlace">
                    <div class="resumen__card__textos resumen__card__textos--modify">
                        <p class="resumen__paragraph__bandera">Ventas del dia</p>
                        <h3 class="resumen__card__titulo__bandera">{{total_ventas[0]}}</h3>
                    </div>
                </a>
            </div>

            <div class="resumen__card__item  resumen__card__item--bandera">
                <a href="/clientes" class="resumen__card__enlace">
                    <div class="resumen__card__textos resumen__card__textos--modify">
                        <p class="resumen__paragraph__bandera">Clientes</p>
                        <h3 class="resumen__card__titulo__bandera">{{total_clientes[0]}}</h3>
                    </div>
                </a>

            </div>

        </div>
    </div>

    <div class="resumen__cards">

        <div class="resumen__card__item2 ">
            <a href="/ventas" style="text-decoration: none; color: black;">
                <h3 class="resumen__card__titulo2">Más vendidos</h3>
                <!--Nueva tabla-->
                <table class="tabla__tablero table  table-hover  table-borderless table-striped align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th style="text-align: center;"" scope=" col">Veces vendido</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for indice in mas_vendidos %}
                        <tr>
                            <td>{{ indice[0] }}</td>
                            <td style="text-align: center;">{{ indice[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </a>
        </div>





        <!-- Clientes que deben-->
        <div class="resumen__card__item2">
            <a href="/apartados" style="text-decoration: none; color: black;">
                <h3 class="resumen__card__titulo2">Deudores</h3>
                <!--Nueva tabla-->
                <table class="tabla__tablero table  table-borderless table-hover table-striped align-middle">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th> <!--Columna Encabezados-->
                            <th scope="col">Apellido P</th>
                            <th style="text-align: center;" scope="col">Total adeudo</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for indice in deudores %} <!--Nombre cualquiera + el que recibe de la variable-->
                        <tr>
                            <td>{{ indice[1] }}</td>
                            <td>{{ indice[2] }}</td>
                            <td style="text-align: center;">{{ indice[4] }}</td>
                            <!--Seccion de edicion (Editar/Eliminar)-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </a>
        </div>



        <!-- <div class="resumen__card__paragraph">
                    <i class="bi bi-receipt resumen__card__icon"></i>
                    <p class="resumen__paragraph">proxomios a vencer su pago</p>
                </div> -->
    </div>


    <!--resurtir-->
    <div class="resumen__cards resumen__cards--modify ">

        <div class="resumen__card__item2 resumen__card__item2--reebolso">
            <a href="/caja" style="text-decoration: none;">
                <div class="resumen__card__reembolso__flex">
                    <p class="resumen__paragraph__invertir">Dinero a Reinvertir</p>
                    <h3 class="resumen__card__invertir">{{reeinvertir}}</h3>
                </div>
            </a>

        </div>

        <div class="resumen__card__item2 resumen__card__item2--reebolso">
            <a href="/inventario" style="text-decoration: none;">
                <div class="resumen__card__reembolso__flex">
                    <p class="resumen__paragraph__invertir">Total de productos</p>
                    <h3 class="resumen__card__invertir">{{total_producto[0]}}</h3>
                </div>
            </a>

        </div>
        <!--ultimo-->
        <div class="resumen__card__item2 resumen__card__item2--ultimo">

            <h3 class="resumen__card__objetivo">Objetivo del día</h3>
            <div class="experiencia__barras__container">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 20%">
                        25%</div>
                </div>
            </div>
        </div>
    </div>

   
    <!--Musica-->
    <!-- <audio id="audio-fondo" autoplay loop>
        <source src="../../static/Audio/Audio.mp3" type="audio/mpeg">
        Tu navegador no soporta el elemento de audio
    </audio>
    <script src="../../static/Js/Audio.js"></script> -->

</section>

{%endblock%}