{%extends 'base.html'%}

{%block title%} Clientes{%endblock%}

{%block contenido%}

<section class="inventario">
    <!--Breadcrumb-->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3">
            <li class="breadcrumb-item">
                <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">Tablero</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Ventas
            </li>
        </ol>
    </nav>

    {% if devuelto %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check"></i> La venta se marco como devolución
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
    <script src="../static/Js/eliminar_alertas.js"></script>
    {% endif %}


    <h1 class="inventario__titulo text-center">Ventas</h1>

    <button type="button" class="btn_agregar btn btn-dark my-2" data-bs-toggle="modal" data-bs-target="#abrirModalVenta"
        data-taskid="0">Venta directa
    </button>

    <a type="button" href="/apartados" class="btn btn-warning my-2">Apartar producto
    </a>

    <!--Nueva tabla-->
    <table class="table  table-hover table-striped align-middle mt-2">
        <thead>
            <tr>
                <th scope="col">ID</th> <!--ID venta el de producto es [1]-->
                <th scope="col">Producto Vendido</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Hora</th>
                <th scope="col">Fecha</th>
                <th scope="col">Monto</th>
                <!-- <th scope="col">Ganancia</th> -->
                <!-- <th scope="col">Reinversion</th> -->
                <th scope="col">Forma de pago</th>
                <th scope="col">Forma de venta</th><!--10 elementos-->
                <th scope="col">Editar</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">

            {% for indice in ventas %}
            {% if indice[5] == fecha_actual %}
            <tr class="doble_click table-primary" style="cursor: pointer;">
                {% else %}
            <tr class="doble_click" style="cursor: pointer;">
                {% endif %}

                <td>{{ indice[0] }}</td>
                <td>{{ indice[2] }}</td>
                <td>{{ indice[3] }}</td>
                <td>{{ indice[4] }}</td><!--Hora en 12-->
                <td>{{ indice[5] }}</td>
                <td>{{ indice[6] }}</td>
                <!-- <td>{{ indice[7] }}</td> -->
                <!-- <td>{{ indice[8] }}</td> -->
                <td>{{ indice[10] }}</td>
                <td>{{ indice[12] }}</td>
                <!--Seccion de edicion (Editar/Eliminar)-->
                <td style="width: 200px;">
                    <div class="editar__botones">


                        <button onclick="setProductId('{{ indice[0] }}')" data-bs-toggle="modal"
                            data-bs-target="#agregarMas" type="button" id="ver__btn"
                            class="btn border-secondary mas  btn__editar ">Agregar
                            más</button>


                        <!--pasar idventa, proudcto cantidad-->
                        <button onclick="setProductId2('{{ indice[0] }}', '{{ indice[1] }}', '{{ indice[3] }}')"
                            data-bs-toggle="modal" data-bs-target="#cantidadDevuelta" type="button"
                            class="btn border-secondary btn__editar devolver"><i
                                class="bi bi-arrow-counterclockwise"></i>
                        </button>



                        <!--El que abre el modal-->
                        <!-- <form action="/marcar_devuelto" method="POST" id="eliminarp">
                            <input type="hidden" name="id_venta" value="{{indice[0]}} ">
                            <input type="hidden" name="id_producto" value="{{indice[1]}} ">
                            <button type="submit" class="btn border-secondary devolver cancelar"><i
                                    class="bi bi-arrow-counterclockwise"></i></button>
                        </form> -->

                        <style>
                            .devolver:hover {
                                background-color: #f6c344;
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }

                            .mas:hover {
                                background-color: #34cc2a;
                                color: white !important;
                                border-color: rgba(255, 0, 0, 0) !important;
                            }
                        </style>
                    </div>

                </td>
            </tr>
            {% set prev_id_venta = indice[0] %}

            {% endfor %}
        </tbody>
    </table>

    <!--Nueva tabla-->
    <h2 class="inventario__titulo mt-5 ">Devueltos</h2>

    <table class="table  table-hover table-striped align-middle mt-2">
        <thead>
            <tr>
                <th scope="col">ID</th> <!--ID venta el de producto es [1]-->
                <th scope="col">Producto Regresado</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Hora Devuelta</th>
                <th scope="col">Fecha Devuelta</th>
                <th scope="col">Monto</th>
                <!-- <th scope="col">Ganancia</th> -->
                <!-- <th scope="col">Reinversion</th> -->
                <!-- <th scope="col">Forma de pago</th> -->
                <!-- <th scope="col">Forma de venta</th> -->
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for indice in ventasDevueltas %} <!--Nombre cualquiera + el que recibe de la variable-->
            <tr class="doble_click" style="cursor: pointer;">
                <td>{{ indice[0] }}</td>
                <td>{{ indice[2] }}</td>
                <td>{{ indice[15] }}</td>
                <td>{{ indice[4] }}</td><!--Hora en 12-->
                <td>{{ indice[5] }}</td>
                <td>{{ indice[16] }}</td>
                <!-- <td>{{ indice[7] }}</td> -->
                <!-- <td>{{ indice[8] }}</td> -->
                <!-- <td>{{ indice[10] }}</td> -->
                <!-- <td>{{ indice[12] }}</td> -->
                <!--Seccion de edicion (Editar/Eliminar)-->

            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>



<!-- Modal para crear/editar venta -->
<div class="modal fade modal-sm" id="abrirModalVenta" tabindex="-1">

    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content ">

            <div class="modal-header"><!--Header-->
                <h5 class="modal-title">Generar Venta</h5> <!--id-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form id="taskForm" method="POST" action="{{ url_for('agregar_venta')}}"> <!--Añadir producto o-->
                    <div class="">
                        <label for="cliente">Producto:</label>
                        <select class="form-control " id="producto" name="producto" required>
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="forma_pago">Forma de pago:</label>
                        <select class="form-control " id="forma_pago" name="forma_pago" required>
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for forma in forma_pago %}
                            <option value="{{ forma[0] }}">{{ forma[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" onpaste="return false;" class="form-control" id="cantidad" name="cantidad"
                            min="0" max="5" placeholder="Max 5" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-secondary">Resetear</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade modal-sm" id="agregarMas" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Añadir Productos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form method="POST" action="{{ url_for('editar_venta')}}" onsubmit="setFormSubmitted()">
                    <!--Añadir producto o-->
                    <div class="">
                        <label for="cliente">Producto:</label>
                        <select class="form-control " id="producto" name="producto" required>
                            <option selected disabled value="">Selecciona una opción</option>
                            {% for producto in productos %}
                            <option value="{{ producto[0] }}">{{ producto[1] }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" onpaste="return false;" class="form-control" id="cantidad" name="cantidad"
                            min="0" max="5" placeholder="Max 5" required>
                    </div>
                    <div class="text-center mt-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <button type="reset" class="btn btn-secondary">Resetear</button>
                    </div>
                    <!--Oculto-->
                    <input type="hidden" name="id_venta" id="id_venta" value="">


                </form>
            </div>
        </div>
    </div>
</div>

<!--Cantidad a devolver para prodctos de mas de 2 -->

<div class="modal fade modal-sm" id="cantidadDevuelta" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Cantidad a devolver</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>

            <div class="modal-body"> <!--Formulario-->
                <form action="/marcar_devuelto" method="POST" id="eliminarp">
                    <label for="cantidadMax">Ingresa un número:</label>
                    <input type="number" class="form-control" id="cantidadMax" name="cantidadMax" min="0" max=""
                        placeholder="">

                    <input type="hidden" name="id_venta2" id="id_venta2" value="">
                    <input type="hidden" name="id_producto" id="id_producto" value="">

                    <button type="submit" class="btn btn-primary w-100 mt-3">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--Para obtener el id y mandarlo al modal-->
<script>
    function setProductId(productId,) {
        document.getElementById('id_venta').value = productId;
    }
</script>
<script>
    function setProductId2(idVenta, idProducto, cantidadMax) {
        document.getElementById('id_venta2').value = idVenta;
        document.getElementById('id_producto').value = idProducto;

        var cantidadInput = document.getElementById('cantidadMax');
        cantidadInput.max = cantidadMax;
        cantidadInput.placeholder = 'Max. ' + cantidadMax;
    }
</script>


{%endblock%}